$playing-bar-bottom: var(--panel-gap, 0.5rem);
$left: var(--panel-gap, 0.5);
$playing-bar-width: calc(100% - ($left * 2));

.Root__now-playing-bar {
  position: fixed;
  height: fit-content;
  width: $playing-bar-width;
  bottom: $playing-bar-bottom;
  left: $left;
  opacity: var(--opacity, 1);

  .main-nowPlayingBar-nowPlayingBar {
    height: var(--height, 80px);
  }

  .main-nowPlayingBar-container {
    padding: var(--padding-y, 0.25rem) var(--padding-x, 0.5rem);
    background-color: var(
      --background-color,
      rgba(var(--spice-rgb-player, var(--spice-rgb-card)), 0.5)
    );

    border: $default-border;

    border-radius: var(--border-radius, $border-radius-md);

    -webkit-backdrop-filter: opacity(var(--backdrop-opacity, 1))
      blur(var(--backdrop-blur, 1rem)) saturate(var(--saturation, 1.1))
      brightness(var(--brightness, 1)) contrast(var(--contrast, 1.2));

    backdrop-filter: opacity(var(--backdrop-opacity, 1))
      blur(var(--backdrop-blur, 1rem)) saturate(var(--saturation, 1.1))
      brightness(var(--brightness, 1)) contrast(var(--contrast, 1.2));
  }

  .main-trackInfo-name {
    .encore-text {
      font-weight: 500;
    }
  }

  .main-coverSlotCollapsed-container,
  .main-coverSlotCollapsed-container > div {
    height: 56px;
    max-height: fit-content;
  }
}
