.playbar-compact {
  .Root__now-playing-bar {
    .main-nowPlayingBar-nowPlayingBar {
      height: var(--height, 64px);
    }

    .main-nowPlayingBar-center {
      width: 100%;
      max-width: none;
    }

    .main-nowPlayingBar-center .player-controls {
      flex-direction: row;
    }

    .player-controls__buttons {
      width: fit-content;
      margin-bottom: 0;
    }

    /* Make play and pause button of same size */
    .player-controls__buttons > button[aria-label*="Pause"],
    .player-controls__buttons > button[aria-label*="Play"] {
      --encore-control-size-smaller: 24px !important;
    }

    .main-nowPlayingBar-left {
      -webkit-padding-start: 4px;
      padding-inline-start: 4px;
      padding-right: 8px;
      width: 25%;
      min-width: 20%;
    }

    .main-nowPlayingWidget-nowPlaying button {
      margin-left: auto;
    }

    .main-coverSlotCollapsed-container.main-coverSlotCollapsed-navAltContainer {
      margin-inline-end: 0;
    }
  }
}
