.Root__nav-bar,
#Desktop_LeftSidebar_Id {
  background: $left-sidebar-bg;
  transition: width 0.35s ease;
  @extend .default-border-with-radius;

  .main-navBar-mainNav {
    .main-yourLibraryX-libraryItemContainer {
      padding-bottom: $root-padding-bottom;
    }

    .main-navBar-mainNav,
    .main-yourLibraryX-library,
    .main-yourLibraryX-entryPoints {
      background: none;
    }
  }

  .main-rootlist-wrapper {
    .main-yourLibraryX-listItem {
      .BoxComponent-group-listRow-tinted-isInteractive-minBlockSize_56px-padding_8px {
        @extend .default-border-with-radius;
      }
    }
  }

  .RHRitk6QC3rvuG24RAdj {
    @extend .box-shadow-to-bottom;
  }
}
