.Root__right-sidebar {
  @include default-border-with-radius;
  background: $right-sidebar-bg;

  .hpzTKCoO0rllEslIOMPo,
  .nw2W4ZMdICuBo08Tzxg9,
  div[data-testid="NPV_Panel_OpenDiv"],
  div[data-overlayscrollbars-initialize],
  div[data-overlayscrollbars="host"] {
    padding-bottom: $root-padding-bottom;
  }

  .IkRGajTjItEFQkRMeH6v,
  .f2UE9n5nZcbgZrGYTU3r,
  .ffFwfKcPDbmAPLXzxzKq,
  .ffFwfKcPDbmAPLXzxzKq:before,
  .NowPlayingView {
    @include bg-none;
  }

  &,
  .main-nowPlayingView-coverArtContainer {
    --media-container-height: calc((var(--panel-width, var(--right-sidebar-width, 420)) * 1px) - 32px) !important;
  }

  .main-nowPlayingView-coverArtContainer.hjyiWzPtKHn_5kCe9vyg {
    height: var(--height, 60vh) !important;
  }

  .main-nowPlayingView-nowPlayingWidget {
    .main-nowPlayingView-contextItemInfo:before {
      @include bg-none;
    }
  }

  .main-nowPlayingView-section {
    background-color: rgba(var(--spice-rgb-selected-row), 0.05);
    border-radius: $border-radius-lg;
    @include default-border;

    .main-nowPlayingView-aboutArtistV2Button {
      @include bg-none;

      .main-nowPlayingView-aboutArtistV2Bio {
        text-wrap: balance;
      }
    }
  }

  .mdMUqcSHFw1lZIcYEblu {
    @include box-shadow-to-bottom;
    z-index: 1;
  }

  /* CanvasNPV */
  .E08D6ucrHuPJYzzGO7HG {
    -webkit-mask-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0) 100%);

    &::after {
      opacity: 0;
    }

    &::before {
      background: none;
    }
  }

  &:hover .E08D6ucrHuPJYzzGO7HG::after {
    opacity: 1;
  }

  /* VideoNPV */
  .KrBYgWLGb5aRHjoD_prX,
  #VideoPlayerNpv_ReactPortal {
    margin-top: 8px !important;
    margin-left: -8px;
    margin-right: -8px;
    border-radius: $border-radius-md;
    overflow: hidden;
  }

  .ouiL5cH1WduxtprQ0Iig {
    aspect-ratio: auto;

    video {
      height: 100% !important;
    }
  }

  .MLbUPrgOa58_qsGikfRG {
    pointer-events: auto !important;
  }

  .KYkSwfV1FCtD15TMChbH {
    background-color: var(--spice-accent);
    -webkit-mask-image: $equalizer-svg;
    mask-image: $equalizer-svg;
    height: 24px;
    width: 24px;

    img,
    svg,
    path {
      visibility: hidden;
    }
  }
}

.compact-npv {
  .Root__main-view {
    grid-area: main-view/main-view/main-view/right-sidebar;
  }

  .Root__right-sidebar {
    bottom: calc(var(--playbar-height, 80px) + 0.5rem + $padding-md);
    // left: calc((var(--left-sidebar-width) * 1px) + 0.5rem + 0.5rem);
    right: var(--panel-gap, $padding-sm);
    position: fixed;
    z-index: 5;
    background: none;
    border: none;
    // width: calc(var(--panel-width) * 1px); /* Width is set by default */
    height: calc(var(--panel-width, var(--right-sidebar-width, 420)) * 1px);
    width: fit-content;
    padding-top: 0px;
    background-color: rgba(var(--spice-rgb-sidebar), 0.5);
    transform-origin: bottom right;
    box-shadow: -2px -2px 16px 6px rgba(var(--spice-rgb-shadow), 0.5);
    border: $default-border;
    -webkit-backdrop-filter: blur(var(--compact-npv-blur, 24px));
    backdrop-filter: blur(var(--compact-npv-blur, 24px));

    &,
    * {
      transition: width 0.3s linear, height 0.3s linear;
      transform-origin: bottom right;
      -webkit-app-region: no-drag;
    }

    &,
    .main-nowPlayingView-coverArtContainer {
      --media-container-height: calc(var(--panel-width, var(--right-sidebar-width, 420)) * 1px) !important;
    }

    /* VideoNPV section */
    &:has(.ouiL5cH1WduxtprQ0Iig) {
      height: calc((var(--panel-width, var(--right-sidebar-width, 420)) * 1px) + 2.5rem);
    }

    .E08D6ucrHuPJYzzGO7HG {
      -webkit-mask-image: none;
      mask-image: none;
    }

    .hjyiWzPtKHn_5kCe9vyg {
      --height: calc(max(var(--min-height),
            min(var(--max-height),
              (0.69 + (var(--panel-width, var(--right-sidebar-width, 420)) - 280) * 0.0003571429) * 100vh)) - 72px);
    }

    .E08D6ucrHuPJYzzGO7HG::after {
      border-radius: $border-radius-md;
      bottom: 6px;
    }

    .KrBYgWLGb5aRHjoD_prX {
      margin-top: 0px !important;
    }

    /* CanvasNPV */
    &:has(.canvasVideoContainerNPV) {
      height: calc((var(--panel-width, var(--right-sidebar-width, 420)) * 1px) * 1.75);
    }

    .os-scrollbar-horizontal {
      display: none;
    }

    .main-nowPlayingView-contextItemInfo {
      padding-inline: $border-radius-md;
    }

    .ylBRlfNqGnzVa4kjUQGP {
      padding-inline: 0px;
    }

    .fNXmHtlrj4UVWmhQrJ_5,
    .W3E0IT3_STcazjTeyOJa {
      display: none;
      visibility: hidden;
    }

    .LayoutResizer__resize-bar {
      width: 2rem;
      height: 2rem;
      top: -0.25rem;
      left: -0.25rem;
      z-index: -1;
    }

    .LayoutResizer__resize-bar:hover {
      opacity: 1;
    }

    div[data-overlayscrollbars-initialize],
    div[data-overlayscrollbars-viewport~="scrollbarHidden"] {
      padding: 0px !important;
    }

    .os-scrollbar-track {
      padding: 4px !important;
    }

    .LayoutResizer__inline-end:after,
    .LayoutResizer__inline-start:after {
      background-color: rgb(32, 32, 32, 0.75);
      border-radius: 0.5rem;
      width: 100% !important;
      height: 100% !important;
      box-sizing: border-box;
    }
  }

  &.left-npv {
    .Root__right-sidebar {
      left: calc((var(--left-sidebar-width) * 1px) + 0.5rem + 0.5rem);
      right: inherit;
    }
  }
}