.copyButton,
.button {
  background-color: #424242;
  color: white;
  border: 2px solid rgba(var(--spice-rgb-text), 0.25);
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: var(--card-border-radius);
  transition: all 0.3s ease-in-out;
}

.button:hover,
.copyButton:hover {
  background-color: #616161;
  border-radius: 100px;
}