.main-contextMenu-menu {
  @include default-border-with-radius;
  overflow: auto;
  background-color: rgba(var(--spice-rgb-card), 0.5);

  &::before {
    @include default-border-with-radius;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    @include backdrop-blur-1rem;
  }

  .main-contextMenu-menuItemButton {
    border-radius: $border-radius-button;
    padding: $padding-md $padding-lg;
  }
}

// Add to Playlist Form
.DquSH3YjnaIIXMZiOvwA {
  background: rgba(var(--spice-rgb-card), 0.5);
  .X5mwWAw7ijxPvQOoabzQ {
    background: transparent;
  }

  &::before {
    @include default-border-with-radius;
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    @include backdrop-blur-1rem;
  }
}
