/* add color overrides */
:root,
* {
  /* spice main */
  --spice-main: var(--clr-surface) !important;
  --spice-highlight: var(--clr-surface-1) !important;
  --spice-notification: var(--clr-primary) !important;
  --spice-misc: var(--clr-on-surface-5) !important;
  --spice-notification-error: var(--clr-error) !important;
  --spice-accent: var(--clr-primary) !important;
  --spice-card: var(--clr-surface-1) !important;
  --spice-shadow: var(--clr-shadow) !important;
  --spice-sidebar: var(--clr-surface-1) !important;
  --spice-main-elevated: var(--clr-surface-2) !important;
  --spice-player: var(--clr-surface-2) !important;
  --spice-highlight-elevated: var(--clr-surface-3) !important;
  --spice-selected-row: var(--clr-on-primary) !important;
  --spice-button-disabled: var(--clr-primary-5) !important;
  --spice-tab-active: var(--clr-surface-3) !important;
  --spice-button: var(--clr-primary) !important;
  --spice-button-active: var(--clr-primary-2) !important;
  --spice-text: var(--clr-on-surface) !important;
  --spice-subtext: var(--clr-on-surface-5) !important;
}
.progress-bar {
  --bg-color: rgba(var(--clr-on-primary-4-rgb), 0.2);
  --mg-color: rgba(var(--clr-primary-5-rgb), 0.7);
  --fg-color: var(--clr-primary-1);
  --is-active-fg-color: var(--clr-primary-3);
}

.encore-dark-theme,
.encore-dark-theme .encore-base-set {
  --background-base: var(--clr-surface-1) !important;
  --background-highlight: var(--clr-surface-3) !important;
  --background-press: var(--clr-shadow);
  --background-elevated-base: var(--clr-surface-2);
  --background-elevated-highlight: var(--clr-surface-3);
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0, 0%, 100%, 0.07);
  --background-tinted-highlight: hsla(0, 0%, 100%, 0.1);
  --background-tinted-press: hsla(0, 0%, 100%, 0.04);
  --text-bright-accent: var(--clr-primary);
  --text-positive: var(--clr-primary);
  --essential-bright-accent: var(--clr-primary);
  --essential-positive: var(--clr-primary);

  --text-base: var(--clr-on-surface);
  --text-subdued: var(--clr-on-surface-1);
}
.encore-dark-theme .encore-base-set > *,
.encore-dark-theme > * {
  --parents-essential-base: #fff;
}
.encore-dark-theme .encore-bright-accent-set {
  --background-base: var(--clr-primary);
  --background-highlight: var(--clr-primary-0);
  --background-press: var(--clr-primary-1);
  --background-elevated-base: var(--clr-primary-0);
  --background-elevated-highlight: var(--clr-primary-0);
  --background-elevated-press: var(--clr-primary-1);
  --background-tinted-base: var(--clr-primary);
  --background-tinted-highlight: var(--clr-primary);
  --background-tinted-press: var(--clr-primary);
  --text-base: var(--clr-on-primary);
  --text-subdued: var(--clr-on-primary);
  --text-bright-accent: var(--clr-on-primary);
  --decorative-subdued: var(--clr-primary-2);
}
.encore-dark-theme .encore-bright-accent-set > * {
  --parents-essential-base: #000;
}
