:root {
  --spice-tab-active: rgba(var(--spice-rgb-card), 0.5) !important;
}

.encore-dark-theme {
  --background-highlight: rgba(var(--spice-rgb-selected-row), 0.125);
  --background-elevated-highlight: rgba(var(--spice-rgb-sidebar), 0.25);

  .encore-bright-accent-set {
    --background-base: var(--spice-accent);
    --background-highlight: var(--spice-button);
    --background-press: var(--spice-button-active);
    --background-elevated-base: var(--spice-button);
    --background-elevated-highlight: var(--spice-button-active);
    --background-elevated-press: var(--spice-button-active);
  }

  .encore-base-set {
    --background-press: rgba(var(--spice-rgb-sidebar), 0.5);
    --background-elevated-base: rgba(var(--spice-rgb-selected-row), 0.1);
    --background-highlight: rgba(var(--spice-rgb-selected-row), 0.125);
    --background-elevated-highlight: rgba(var(--spice-rgb-sidebar), 0.25);
  }
}

.encore-light-theme,
.encore-light-theme .encore-base-set {
  --background-base: rgba(var(--spice-rgb-main), 0.54);
  --background-highlight: rgba(var(--spice-rgb-main), 0.58);
  --background-press: rgba(var(--spice-rgb-main), 0.68);
  --background-elevated-base: rgba(var(--spice-rgb-main), 0.58);
  --background-elevated-highlight: rgba(var(--spice-rgb-main), 0.58);
  --background-elevated-press: rgba(var(--spice-rgb-main), 0.68);
  --background-tinted-base: rgba(var(--spice-rgb-main), 0.54);
  --background-tinted-highlight: rgba(var(--spice-rgb-main), 0.54);
  --background-tinted-press: rgba(var(--spice-rgb-main), 0.54);
  --text-base: var(--spice-text);
  --text-subdued: var(--spice-subtext);
  --text-bright-accent: var(--spice-text);
}
