:root {
  --spice-tab-active: rgba(var(--spice-rgb-card), 0.5) !important;
}

.encore-dark-theme {
  --background-highlight: rgba(var(--spice-rgb-selected-row), 0.125);
  --background-elevated-highlight: rgba(var(--spice-rgb-sidebar), 0.25);

  .encore-bright-accent-set {
    --background-base: var(--spice-accent);
    --background-highlight: var(--spice-button);
    --background-press: var(--spice-button-active);
    --background-elevated-base: var(--spice-button);
    --background-elevated-highlight: var(--spice-button-active);
    --background-elevated-press: var(--spice-button-active);
  }

  .encore-base-set {
    --background-press: rgba(var(--spice-rgb-sidebar), 0.5);
    --background-elevated-base: rgba(var(--spice-rgb-selected-row), 0.1);
    --background-highlight: rgba(var(--spice-rgb-selected-row), 0.125);
    --background-elevated-highlight: rgba(var(--spice-rgb-sidebar), 0.25);
  }
}
