:root {
	--spice-sidebar: #000000;
	--spice-sidebar-rgb: 0,0,0;
	--spice-selected-row: #ffffff;
	--spice-selected-row-rgb: 255,255,255;
	--spice-button: #1db954;
	--spice-button-rgb: 29,185,84;
	--spice-highlight: #1a1a1a;
	--spice-highlight-rgb: 26,26,26;
	--spice-main: #121212;
	--spice-main-rgb: 18,18,18;
	--spice-main-elevated: #242424;
	--spice-main-elevated-rgb: 36,36,36;
	--spice-button-active: #1ed760;
	--spice-button-active-rgb: 30,215,96;
	--spice-card: #282828;
	--spice-card-rgb: 40,40,40;
	--spice-button-disabled: #535353;
	--spice-button-disabled-rgb: 83,83,83;
	--spice-tab-active: #333333;
	--spice-tab-active-rgb: 51,51,51;
	--spice-notification: #4687d6;
	--spice-notification-rgb: 70,135,214;
	--spice-highlight-elevated: #2a2a2a;
	--spice-highlight-elevated-rgb: 42,42,42;
	--spice-shadow: #000000;
	--spice-shadow-rgb: 0,0,0;
	--spice-misc: #7f7f7f;
	--spice-misc-rgb: 127,127,127;
	--spice-notification-error: #e22134;
	--spice-notification-error-rgb: 226,33,52;
	--spice-subtext: #b3b3b3;
	--spice-subtext-rgb: 179,179,179;
	--spice-player: #181818;
	--spice-player-rgb: 24,24,24;
	--spice-text: #000aaa;
	--spice-text-rgb: 0,10,170;
${newl}}