@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ------------------------------
   Base Styles and Variables
------------------------------ */

:root {
  /* Commonly Used Values */
  --default-gap: 0.5rem;
  --default-gap2: 0.25rem;
  --default-border-thickness: 1px;
  --default-padding: 0.25rem;
  --bg-color-opacity: 0.25;
  --bg-color-opacity-cards: 0.75;
  --bg-color-opacity-homeHeader: 0.5;
  --blur-radius: 1rem;
  --ease-transition: all 0.25s ease-in-out;

  --button-border-radius: 0.5rem; /* Border Radius of all buttons*/
  --encore-button-corner-radius: var(--button-border-radius);

  /* Scrollbar */
  --scrollbar-display: block;
  --scrollbar-width: 0.25rem;
  --scrollbar-color: rgba(var(--spice-rgb-text), 0.75) !important;

  /* Border */
  --border-radius: 1rem;
  --card-border-radius: 0.5rem;
  --border-radius-rounded: 9999px;
  --border-radius-now-playing-bar: 0.5rem;

  /* Shadow Color */
  --shadow-rgb: rgba(var(--spice-rgb-subtext), 0.125);
  --white-rgb: 255, 255, 255;

  /* Spacing & Sizing */
  --margin-heading: 0.5rem;
  --margin-bottom-now-playing-bar: 0.5rem;
  --padding-now-playing-bar: 0.25rem;
  --now-playing-bar-height: 5.5rem;

  /* Fonts */
  --encore-title-font-stack: "Poppins", var(--fallback-fonts);
  --encore-body-font-stack: "Poppins", var(--fallback-fonts);
  --normal-font-weight: 500;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 800;

  /* Spicetify Overrides */
  --spice-rgb-selected-row: rgba(var(--spice-subtext));
  --panel-gap: 0.5rem !important;
  --background-base: rgba(var(--spice-rgb-main), 0.8);
  --encore-control-size-base: 32px;

  /* Background Overlay */
  --blur: 1.5rem;
  --cont: 80%; /* Contrast for dark theme */
  --bright: 50%; /* Brightness for dark theme */
  --satu: 90%;

  --text-base: var(--spice-sidebar);
}

/* ------------------------------
   General Styling 
------------------------------ */

* {
  font-family: "Poppins", var(--fallback-fonts, sans-serif) !important;
  box-shadow: none !important;
  background-color: transparent; /* Default background to transparent */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;

  /* Make Scrollbar thin */
  scrollbar-width: thin;

  /* Spicetify Overrides */
  --panel-gap: 0.5rem !important;
  --text-subdued: var(--spice-subtext);
  --lyrics-color-active: rgba(var(--spice-rgb-text), 1);
  --lyrics-color-inactive: rgba(var(--spice-rgb-subtext), 0.5);
  --lyrics-color-passed: rgba(var(--spice-rgb-subtext), 0.75);
  --lyrics-color-background: rgba(var(--spice-rgb-main), 0.025);
  --section-background-base: rgba(var(--spice-rgb-card), 0.5) !important;
}

*:focus {
  outline: none !important; /* Remove default focus outlines */
}

/* ------------------------------
   Component-Specific Styling
------------------------------ */

/* Typography */
.vertical-metrics {
  --encore-title-font-stack: "Poppins", var(--fallback-fonts);
  --encore-body-font-stack: "Poppins", var(--fallback-fonts);
}

.encore-dark-theme {
  --background-tinted-base: rgba(var(--spice-rgb-selected-row), 0.025);
}

.encore-text-headline-large,
.encore-text-title-medium,
.encore-text-title-small,
.main-trackInfo-name {
  font-weight: var(--extra-bold-font-weight); /* Use extra-bold font weight */
  letter-spacing: -0.025rem;
}

.TypeElement-type-ballad-textBase,
.LineClamp {
  font-weight: 500;
}

.Root__now-playing-bar .encore-text-body-small {
  letter-spacing: 0.025rem;
}

.encore-text-marginal,
.encore-text-body-small,
.encore-text-body-medium,
.encore-text-body-large {
  font-weight: var(--normal-font-weight);
  letter-spacing: 0.015rem;
}

.TypeElement-type-ballad-textBase-useBrowserDefaultFocusStyle {
  font-weight: var(--normal-font-weight);
  font-family: var(--encore-title-font-stack), var(--fallback-fonts, sans-serif);
}

.encore-text-headline-large {
  margin: var(--margin-heading);
}

.TypeElement-type-ballad,
.encore-text-body-small-bold {
  font-weight: var(--bold-font-weight);
}

/* Scrollbars */
.os-scrollbar-track {
  margin-bottom: calc(
    var(--now-playing-bar-height) - (var(--padding-now-playing-bar) * 2)
  );
  height: 90%;
}

.spotify__container--is-desktop.spotify__os--is-windows
  .main-view-container__scroll-node
  > .os-scrollbar-vertical {
  top: var(--default-gap);
}

.os-scrollbar-handle {
  display: var(--scrollbar-display);
  width: var(--scrollbar-width) !important;
  border-radius: var(--border-radius-rounded) !important;
  margin-right: 0.125rem;
  background-color: var(--scrollbar-color) !important;
  scroll-behavior: smooth;
}

.os-scrollbar-handle:hover {
  width: calc(var(--scrollbar-width) + 2px) !important;
}

.os-content {
  padding: 0px !important;
}

/* Top Container */
.Root__top-container {
  overflow: hidden;
  background-color: rgba(
    var(--spice-rgb-main),
    var(--bg-color-opacity)
  ) !important;
  padding-top: calc(2rem + var(--panel-gap) * 2) !important;
}

/* Borders for Main View and Sidebar */
.Root__main-view,
.main-yourLibraryX-entryPoints,
.Root__right-sidebar {
  border: var(--default-border-thickness) solid var(--shadow-rgb);
}

/* Card Styles */
.x-searchResultsTracks-root > .main-gridContainer-gridContainer,
.main-trackList-trackList,
.main-card-card,
.main-heroCard-card,
.main-card-cardContainer,
.view-homeShortcutsGrid-shortcut {
  background-color: rgba(
    var(--spice-rgb-card),
    var(--bg-color-opacity)
  ) !important;
  border: 1px rgba(var(--spice-rgb-contour), 0.5) solid;
  border-radius: var(--card-border-radius);
  overflow: hidden;
  transition: var(--ease-transition);
}

.view-homeShortcutsGrid-draggable {
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.main-card-cardContainer,
.view-homeShortcutsGrid-shortcut {
  &:hover {
    background-color: rgba(var(--spice-rgb-card), 0.125) !important;
  }
  &:hover::after {
    background-color: rgba(var(--spice-rgb-main), 0.125) !important;
  }
}

/* Home Section */
.main-home-home {
  margin-top: 1rem;
}

.main-home-homeHeader {
  background-image: none !important;
  background-color: transparent !important;
}

.mXNT9H2GU7lDW4cGx0q1 {
  background-color: rgba(var(--spice-rgb-main), 0.125) !important;
}

/* Entity Headers */
.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background.main-entityHeader-overlay,
.main-entityHeader-container.main-entityHeader-nonWrapped {
  background: linear-gradient(
      transparent 0,
      rgba(var(--spice-rgb-main), 0.45) 100%
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.184' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='13' specularConstant='0.3' specularExponent='20' lighting-color='%23ffffff' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='133'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='specularLighting' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%2300000000'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
  height: 36.75vh;
}

/* Action Bar */
.main-actionBar-ActionBar {
  display: flex;
  justify-content: center;
  border-top: var(--default-border-thickness) solid var(--shadow-rgb);
  background: linear-gradient(
      rgba(var(--spice-rgb-main), 0.75) 0,
      rgba(var(--spice-rgb-main), 0.45) 100%
    ),
    url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter) brightness(0.1) contrast(1.025)' /%3E%3C/svg%3E");
}

.playlist-playlist-playlist .main-actionBar-ActionBar {
  background: none;
}

/* Grid Container */
.main-gridContainer-gridContainer {
  gap: var(--default-gap);
}

/* Now Playing Bar */
.main-nowPlayingBar-container {
  --background-highlight: rgba(var(--spice-rgb-sidebar), 0.5) !important;
  height: var(--now-playing-bar-height);
  width: calc(100% - (var(--margin-bottom-now-playing-bar) * 2));
  justify-content: center;
  position: fixed !important;
  border-radius: var(--border-radius-now-playing-bar);
  padding: var(--padding-now-playing-bar);
  bottom: var(--margin-bottom-now-playing-bar);
  border: var(--default-border-thickness) solid var(--shadow-rgb);
  background-color: rgba(var(--spice-rgb-main), 0.5);
  backdrop-filter: blur(var(--blur-radius));
}

/* Context Menu */
.main-contextMenu-menu {
  border-radius: var(--border-radius);
  background-color: rgba(
    var(--spice-rgb-card),
    var(--bg-color-opacity-homeHeader)
  );
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.main-contextMenu-menu::before {
  content: "";
  border: var(--default-border-thickness) solid
    rgba(var(--spice-rgb-subtext), 0.25);
  border-radius: var(--border-radius);
  backdrop-filter: blur(var(--blur-radius)) brightness(0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main-contextMenu-menuItemButton.egE6UQjF_UUoCzvMxREj,
.main-contextMenu-menuItemButton.egE6UQjF_UUoCzvMxREj:focus,
.main-contextMenu-menuItemButton.egE6UQjF_UUoCzvMxREj:hover {
  display: none;
}

/* Dropdowns and Equalizer */
.x-settings-equalizerSection,
.main-dropDown-dropDown {
  background-color: rgba(var(--spice-rgb-main), 0.125);
  border: var(--default-border-thickness) solid
    rgba(var(--spice-rgb-subtext), 0.5);
  border-radius: 8px;
}

.main-dropDown-dropDown {
  background-color: rgba(var(--spice-rgb-main), 0.9);
  color: rgba(var(--spice-rgb-text), 0.75);
}

/* Now Playing Widget */
.main-nowPlayingWidget-trackInfo {
  margin: 0 1rem 0 0.5rem;
}

.encore-internal-color-text-base {
  color: var(--spice-text) !important;
}

/* Buttons */
.Button-medium-medium-buttonTertiary-iconOnly-condensed-useBrowserDefaultFocusStyle,
button,
.main-avatar-image,
.ChipInnerComponent-sm-selected,
.ButtonInner-medium,
.MxmW8QkHqHWtuhO589PV,
.main-card-imageContainer {
  border-radius: var(--button-border-radius) !important;
}

.Button-medium-buttonPrimary-useBrowserDefaultFocusStyle:hover
  .ButtonInner-sc-14ud5tc-0 {
  background-color: rgba(var(--spice-rgb-accent), 0.85);
}

.main-genericButton-button {
  background-color: transparent;
  border: none;
  color: rgba(var(--spice-rgb-text), 0.7);
}

.main-playPauseButton-button {
  border: none;
  color: var(--spice-text);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.main-skipBackButton-button,
.main-skipForwardButton-button,
.main-repeatButton-button[aria-label="Enable repeat"],
.main-repeatButton-button[aria-label="Disable repeat"],
.main-repeatButton-button[aria-label="Enable repeat one"] {
  border: none;
  color: var(--spice-text);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  scale: 0.65 !important;
  background-color: var(--spice-text);
  color: var(--spice-subtext);
  svg {
    display: none;
  }
}

.main-repeatButton-button {
  scale: 0.65 !important;
  background-color: var(--spice-subtext);
}

.main-playPauseButton-button,
.player-controls button[aria-label="Next"],
.player-controls button[aria-label="Previous"],
button[aria-label="Add to Liked Songs"],
button[aria-label="Add to playlist"] {
  display: block;
  background-color: var(--spice-subtext);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  min-height: 1rem;
  min-width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 0 !important;
  border: none !important;
  svg,
  span {
    display: none;
    visibility: hidden;
  }
}

button[aria-label="Add to Liked Songs"] {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/heart-outline.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/heart-outline.svg") !important;
}
button[aria-label="Add to playlist"] {
  background-color: var(--spice-accent);
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/heart.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/heart.svg") !important;
}

.main-playPauseButton-button[aria-label="Pause"] {
  background-color: var(--spice-text);
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/pause.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/pause.svg") !important;
}
.main-playPauseButton-button[aria-label="Play"] {
  background-color: var(--spice-text);
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/play.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/play.svg") !important;
}

.main-skipBackButton-button {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/prev.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/prev.svg");
}
.main-skipForwardButton-button {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/next.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/next.svg");
}

.main-repeatButton-button[aria-checked="false"],
.main-repeatButton-button[aria-checked="true"] {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/repeat.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/repeat.svg");
}

.main-repeatButton-button[aria-checked="true"],
.main-repeatButton-button[aria-checked="mixed"] {
  background-color: var(--spice-accent);
}

.main-repeatButton-button[aria-checked="mixed"] {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/repeat-mixed.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/repeat-mixed.svg");
}

.main-trackList-rowImagePlayPauseButton {
  color: var(--spice-text);
}

.main-trackList-trackListRow:focus-within,
.main-trackList-trackListRow:hover {
  background-color: rgba(var(--spice-rgb-selected-row), 0.125);
}

.player-controls button[aria-label="Next"] {
  background-color: rgba(var(--spice-rgb-text), 0.75);
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/next.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/next.svg");
}
.player-controls button[aria-label="Previous"] {
  background-color: rgba(var(--spice-rgb-text), 0.75);
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/prev.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/prev.svg");
}

.main-topBar-buddyFeed {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.main-actionButtons > div {
  display: flex;
  padding: 0.25px;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
}

.Root__globalNav .main-actionButtons {
  scale: 1.25;
  gap: 4px;
  padding-inline: 8px 8px;
}

button[aria-label="Friend Activity"] > path,
button[aria-label="What's New"] > path {
  display: none;
}

.main-actionButtons > div > button[aria-label="What's New"] svg,
.main-actionButtons > button[aria-label="What's New"] svg {
  background-color: rgba(var(--spice-rgb-text), 0.75) !important;
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/alert.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/alert.svg");
}
.main-actionButtons > div > button[aria-label="Friend Activity"] svg,
.main-actionButtons > button[aria-label="Friend Activity"] svg {
  background-color: rgba(var(--spice-rgb-text), 0.75) !important;
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/people-team.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/people-team.svg");
}

.Root__nav-bar .os-scrollbar-track {
  height: 95%;
}

.Root__main-view,
.Root__right-sidebar,
.main-yourLibraryX-library,
.main-yourLibraryX-navItems,
.main-yourLibraryX-libraryContainer,
.x-searchInput-searchInputInputs,
.main-trackList-trackList,
.main-heroCard-card {
  border-radius: var(--card-border-radius);
}

.main-yourLibraryX-libraryContainer {
  border: 0px;
}

/* Filter Chips Container */
.main-home-filterChipsContainer,
.rX_OmqCngvY5ZCoYBZgb,
.f59DF4qQ_FphIrVeRYkI,
.cj6vRk3nFAi80HSVqX91,
.qG4q41T8PJl0SkVgUeJc,
.rX_OmqCngvY5ZCoYBZgb:after,
.rX_OmqCngvY5ZCoYBZgb::before,
.search-searchCategory-SearchCategory {
  --top-bar-opacity: 0 !important;
  backdrop-filter: blur(var(--blur-radius));
  background-color: rgba(var(--spice-rgb-card), 0.5) !important;
  top: 0;
}

.main-topBar-container {
  backdrop-filter: blur(var(--blur-radius));
  justify-content: center;
  opacity: var(--top-bar-opacity);
}

.main-topBar-container:has(.marketplace-tabBar) {
  background-color: rgba(var(--spice-rgb-main), 0.5);
  position: relative;
  opacity: 1;
}

.marketplace-header {
  top: 0;
  backdrop-filter: blur(var(--blur-radius));
}
.marketplace-header:has(.Root__globalNav) {
  margin-top: 64px;
}

.rX_OmqCngvY5ZCoYBZgb,
.search-searchCategory-SearchCategory {
  border-bottom-right-radius: var(--card-border-radius) !important;
  border-bottom-left-radius: var(--card-border-radius) !important;
}

.main-topBar-background {
  display: none;
}

.x-searchInput-searchInputInput {
  background-color: rgba(var(--spice-rgb-sidebar), 0.5) !important;
}

.main-topBar-historyButtons .main-topBar-button {
  background-color: rgba(var(--spice-rgb-card), var(--bg-color-opacity-cards));
}

.main-globalNav-searchInputContainer .SFAoASy0S_LZJmYZ3Fh9 {
  border-radius: 0;
}

.main-globalNav-searchInputContainer {
  border: var(--default-border-thickness) solid
    rgba(var(--spice-rgb-subtext), 0.125);
}

.main-globalNav-searchInputContainer,
.main-globalNav-searchInputContainer .Y8Mmhwfig0n1DHqUTar5,
.main-globalNav-searchInputContainer .SFAoASy0S_LZJmYZ3Fh9 {
  background: transparent !important;
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* connectBar */
.main-connectBar-connectBar {
  position: absolute;
  right: 0;
  top: calc((var(--now-playing-bar-height) / 2) * -1);
  padding-left: 1.5rem;
  padding-inline-end: 1.5rem;
}

.Root__main-view {
  overflow: visible;
  position: initial;
}
.main-view-container {
  overflow: hidden;
  background-color: rgba(var(--spice-rgb-main), 0.25);
  border-radius: var(--card-border-radius);
}

.main-actionBarBackground-background {
  background-color: transparent !important;
  background-image: none !important;
}

.main-view-container__scroll-node-child-spacer {
  height: 0rem !important;
}

.f59DF4qQ_FphIrVeRYkI {
  top: 0;
  height: 3rem;
  border-radius: var(--card-border-radius);
}

.artist-artistOnTour-timeAndVenue.artist-artistOnTour-condensed {
  color: var(--spice-subtext);
}

.x-searchInput-searchInputInput {
  height: auto !important;
  font-size: 0.75rem;
}

.main-topBar-buddyFeed,
.main-skipBackButton-button,
.main-skipForwardButton-button,
.main-entityHeader-metaDataText,
.playlist-playlist-whiteOpacity {
  color: var(--spice-text);
}

.main-entityHeader-topbarTitle {
  font-size: 1.25rem;
}

.main-view-container__scroll-node-child,
.main-nowPlayingView-panelOpenDiv,
.main-yourLibraryX-libraryContainer,
.lyrics-lyrics-contentWrapper,
.album-albumPage-sectionWrapper,
.main-buddyFeed-container,
.nw2W4ZMdICuBo08Tzxg9 {
  padding: 0;
  padding-bottom: calc(
    var(--now-playing-bar-height) - (var(--padding-now-playing-bar) * 2)
  ) !important;
}
.Root__main-view-overlay,
.gqaWFmQeKNYnYD5gRv3x {
  margin-bottom: calc(
    var(--now-playing-bar-height) - (var(--padding-now-playing-bar) * 2)
  ) !important;
}

.main-coverSlotCollapsed-container {
  border-radius: 0.5rem;
  max-width: 56px;
  max-height: 56px;
}

.main-trackList-trackListHeader {
  top: 0 !important;
  height: 100%;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

div[data-testid="hpto-parent-container"] {
  margin-bottom: 0;
}

.main-shelf-shelf,
.search-searchResult-tracklistContainer {
  gap: var(--default-gap);
}
.main-shelf-topRow {
  margin: 0;
}

.playlist-playlist-playlist {
  margin-top: 0;
}

.main-topBar-topbarContentWrapper {
  display: none;
  height: 2rem;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  .main-topBar-topbarContent {
    height: 100%;
  }
  svg {
    height: 1rem;
    width: 1rem;
  }
}

.main-topBar-topbarContentWrapper:has(*) {
  display: flex;
}

.ButtonInner-medium-iconOnly {
  min-inline-size: 2rem;
  min-block-size: 2rem;
  inline-size: 2rem;
  block-size: 2rem;
  span {
    scale: 0.75;
  }
}

.main-topBar-topbarContent .ButtonInner-medium-iconOnly {
  min-inline-size: 1.75rem;
  min-block-size: 1.75rem;
  inline-size: 1.75rem;
  block-size: 1.75rem;
  span {
    scale: 0.85;
  }
}

.Wrapper-medium-medium-only {
  position: relative;
  top: 0;
  left: 0;
}

.main-yourLibraryX-entryPoints,
.main-nowPlayingView-content {
  background: rgba(var(--spice-rgb-sidebar), 0.25) !important;
}

.main-shelf-shelf {
  margin-top: 0;
}

.LegacyChipComponent-checkbox-chip-sm-useBrowserDefaultFocusStyle,
.LegacyChipComponent-checkbox-chip-sm-isUsingKeyboard-useBrowserDefaultFocusStyle {
  background-color: var(--shadow-rgb);
}

.playlist-playlist-searchBoxContainer {
  color: var(--text-subdued);
}

.main-trackInfo-contentWrapper {
  --trans-x: 1px;
}
.TextElement-text-marginal-textSubdued {
  color: var(--spice-text);
}

.Root__nav-bar {
  background-color: transparent;
  border-radius: var(--card-border-radius);
}

.x-sortBox-sortDropdown,
.x-filterBox-filterInput,
.x-filterBox-expandButton {
  color: rgba(var(--spice-rgb-subtext), 0.75) !important;
}

.main-nowPlayingView-section,
.main-nowPlayingView-artistOnTour,
.main-nowPlayingView-merch,
#BeautifulLyrics-CardView {
  border: var(--default-border-thickness) solid
    rgba(var(--spice-rgb-subtext), 0.025);
  backdrop-filter: brightness(1.25) !important;
}

.main-nowPlayingView-section,
.main-nowPlayingView-aboutArtistV2Button,
.main-nowPlayingView-sectionHeaderSpacing.main-nowPlayingView-lyricsGradient {
  background-color: transparent !important;
}

.main-trackList-trackListRow:focus-within:not(.tH1iuxCV8NexP4pzEBa4)
  .main-trackList-rowMoreButton,
.main-trackList-trackListRow:focus-within:not(.tH1iuxCV8NexP4pzEBa4)
  .main-trackList-rowSectionEnd,
.main-trackList-trackListRow:focus-within:not(.tH1iuxCV8NexP4pzEBa4)
  .UudGCx16EmBkuFPllvss
  a,
.main-trackList-trackListRow:focus-within:not(.tH1iuxCV8NexP4pzEBa4)
  .W676nknusnBt8sz19YVV,
.main-trackList-trackListRow:focus-within:not(.tH1iuxCV8NexP4pzEBa4)
  .main-trackList-rowSectionVariable,
.main-trackList-trackListRow:focus-within:not(.tH1iuxCV8NexP4pzEBa4)
  .main-trackList-rowSectionVariable
  a,
.main-trackList-trackListRow:hover:not(.tH1iuxCV8NexP4pzEBa4)
  .main-trackList-rowMoreButton,
.main-trackList-trackListRow:hover:not(.tH1iuxCV8NexP4pzEBa4)
  .main-trackList-rowSectionEnd,
.main-trackList-trackListRow:hover:not(.tH1iuxCV8NexP4pzEBa4)
  .UudGCx16EmBkuFPllvss
  a,
.main-trackList-trackListRow:hover:not(.tH1iuxCV8NexP4pzEBa4)
  .W676nknusnBt8sz19YVV,
.main-trackList-trackListRow:hover:not(.tH1iuxCV8NexP4pzEBa4)
  .main-trackList-rowSectionVariable,
.main-trackList-trackListRow:hover:not(.tH1iuxCV8NexP4pzEBa4)
  .main-trackList-rowSectionVariable
  a {
  color: rgba(var(--spice-rgb-text), 0.75);
}

/* Progress Bar */

.x-progressBar-progressBarBg {
  background-color: rgba(var(--spice-rgb-text), 0.2);
  background-blend-mode: luminosity;
}

.playback-bar,
.progress-bar,
.progress-bar__fg_wrapper {
  --fg-color: var(--spice-accent) !important;
  --is-active-fg-color: var(--spice-accent) !important;
  --bg-color: rgba(var(--spice-rgb-text), 0.2);
}

.progress-bar__slider {
  background-color: rgba(var(--spice-rgb-card), 0.75) !important;
  border: 6px solid rgba(var(--spice-rgb-card), 0.75);
  box-shadow: 0 0 3px 0 rgba(var(--spice-rgb-card), 0.75) !important;
  box-sizing: content-box !important;
  width: 8px;
  height: 8px;
  opacity: 1 !important;
  display: block;
  margin-left: -10px;
}

.progress-bar__slider::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--spice-accent);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  transition: transform 300ms cubic-bezier(0.1, 0.9, 0.2, 1);
}

.progress-bar__slider:hover::after {
  transform: scale(1.25);
}

.progress-bar__slider:active::after {
  transform: scale(0.8);
}

/* Animations */
.main-trackList-trackListRow,
.main-view-container,
.Root__right-sidebar,
.Root__now-playing-bar {
  transition: var(--ease-transition);
}
.view-homeShortcutsGrid-main *,
.main-card-cardContainer,
.view-homeShortcutsGrid-shortcut {
  transition: var(--ease-transition);
}
.Root__nav-bar,
.Root__main-view {
  position: relative;
  background: transparent !important;
  transition: var(--ease-transition);
}

.Root__main-view {
  overflow: hidden;
}

div[data-encore-id="popover"] {
  backdrop-filter: blur(1rem) saturate(1.5) brightness(0.5);
  background-color: rgba(var(--spice-rgb-main), 0.25) !important;
}

.encore-dark-theme .encore-announcement-set {
  --background-base: rgba(var(--spice-rgb-card), 0.75);
  --background-highlight: rgba(var(--spice-rgb-card), 0.5);
  --background-press: rgba(var(--spice-rgb-card), 0.85);
  --background-elevated-base: rgba(var(--spice-rgb-card), 0.5);
  --background-elevated-highlight: rgba(var(--spice-rgb-card), 0.5);
  --background-elevated-press: rgba(var(--spice-rgb-card), 0.85);
  --background-tinted-base: rgba(var(--spice-rgb-card), 0.75);
  --background-tinted-highlight: rgba(var(--spice-rgb-card), 0.75);
  --background-tinted-press: rgba(var(--spice-rgb-card), 0.75);
}

.marketplace-grid {
  --minimumColumnWidth: 14rem;
  text-wrap: balance;
}

#marketplace-markdown,
.marketplace-readme__container {
  background: transparent !important;
  background-color: transparent !important;
}

.marketplace-tabBar-headerItemLink {
  padding: 0.2rem 16px;
}

.marketplace-header {
  background-color: transparent;
  padding: 0.5rem 0;
}

.marketplace-tabBar-nav {
  width: inherit;
}

.main-buddyFeed-container,
.Root__right-sidebar aside {
  --background-base: rgba(var(--spice-rgb-sidebar), 0.5) !important;
  animation-delay: 100ms;
  animation-duration: 0.35s;
  animation-name: animate-fade-in-from-right;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.main-buddyFeed-content {
  background: none !important;
  height: 101% !important;
}

.Root__nav-bar {
  animation-delay: 100ms;
  animation-duration: 0.35s;
  animation-name: animate-fade-in-from-left;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes animate-fade-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animate-fade-in-from-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animate-fade-in-from-bottom {
  0% {
    transform: translateY(calc(var(--now-playing-bar-height) * 2));
  }
  100% {
    transform: translateY(0);
  }
}

.VuyYccxhpPjYpeMkPtBM {
  margin-top: 0;
}

.JyEYcCE6Oi_unrgfAZPy {
  max-width: 100%;
}

button.HD9s7U5E1RLSWKpXmrqx {
  background-color: transparent;
}

/* make topbar stay */
.main-topBar-historyButtons .main-topBar-forward {
  display: inline-flex !important;
}

/* Dark Gradient lyrics */
.lyrics-lyrics-background {
  background-image: linear-gradient(
    315deg,
    var(--lyrics-color-background),
    rgba(0, 0, 0, 0.5)
  ) !important;
  background-size: 500%;
}
.lyrics-lyricsContent-lyric.lyrics-lyricsContent-highlight {
  color: white;
}
/* Center Lyrics */
.lyrics-lyrics-contentWrapper {
  text-align: center;
}

.main-nowPlayingView-lyricsContent {
  font-weight: 600;
  font-family: "Poppins", var(--fallback-fonts, sans-serif) !important;
}

.Wrapper-medium-only-medium {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

/* Topbar */
.main-globalNav-historyButtons button {
  aspect-ratio: 1/1;
}

.Root__globalNav button {
  background-color: rgba(
    var(--spice-rgb-card),
    var(--bg-color-opacity-homeHeader)
  ) !important;
  border: var(--default-border-thickness) solid
    rgba(var(--spice-rgb-subtext), 0.125);
}

.Root__globalNav
  button:is([aria-label="Search"], [aria-label="Clear search field"]) {
  background-color: transparent !important;
  border: none !important;
}

.main-userWidget-box {
  background-color: rgba(var(--spice-rgb-main), 0.8);
}

.Root__globalNav {
  height: calc(24px + var(--panel-gap));
  margin-top: calc(var(--panel-gap) * -4.5);
}

.Root__globalNav > .main-topBar-topbarContentRight,
.bYqd4_UZsNOsNvO_TW1W,
.nmAHq8nfXRtoQmKU1gaF,
.main-globalNav-historyButtonsContainer,
.main-globalNav-searchContainer {
  scale: 0.95;
}

.main-globalNav-searchInputContainer .SFAoASy0S_LZJmYZ3Fh9 {
  background: rgba(
    var(--spice-rgb-card),
    var(--bg-color-opacity-homeHeader)
  ) !important;
}

/* search */

.x-searchInput-searchInputInput {
  color: var(--spice-text) !important;
  border: var(--default-border-thickness) solid var(--spice-light-border);
  border-radius: var(--card-border-radius) !important;
  padding-right: 72px;
  padding-left: 12px;
  height: 32px !important;
  transition: background-color ease-in 200ms;
}

.x-searchInput-searchInputInput:hover,
input:hover {
  background-color: rgba(var(--spice-rgb-selected-row), 0.2) !important;
}

.x-searchInput-searchInputInput:focus,
input:focus {
  background-color: rgba(var(--spice-rgb-main), 0.7) !important;
  border-bottom: var(--spice-accent) solid var(--default-border-thickness);
  outline: none !important;
}

.x-searchInput-searchInputInput:focus-within {
  outline: none;
}

.x-searchInput-searchInputIconContainer {
  flex-direction: row-reverse;
  gap: var(--default-gap);
}

.x-searchInput-searchInputSearchIcon {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/search.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/search.svg");
  background-color: var(--spice-subtext) !important;
  flex: 0;
  transform: scaleX(-1);
  height: 16px;
  width: 16px;
}

.x-searchInput-searchInputSearchIcon path {
  display: none;
}

.x-searchInput-searchInputClearButton {
  margin-left: 5px;
  margin-right: 12px;
}

.x-searchInput-searchInputClearButton path {
  display: block !important;
}

.x-searchInput-searchInputClearButton svg {
  fill: var(--spice-subtext);
  padding: 3px;
}

.x-searchInput-searchInputSearchIcon,
.playlist-inlineSearchBox-searchIcon,
.x-searchInput-searchInputInput::placeholder,
.playlist-inlineSearchBox-filterInput,
.x-searchInput-searchInputClearButton {
  color: var(--spice-text) !important;
}

.x-searchResultsTracks-root .main-gridContainer-gridContainer {
  padding: 8px;
}

.main-heroCard-card,
.x-searchResultsTracks-root .main-gridContainer-gridContainer {
  background-color: rgba(var(--spice-rgb-card), 0.55);
  border-radius: var(--card-border-radius);
}

.playlist-playlist-searchResultListContainer {
  display: grid;
  gap: var(--default-gap);
}

.main-gridContainer-gridContainer > a {
  padding: 0;
}

.BoxComponent-group-listRow-naked-isInteractive-minBlockSize_56px-padding_8px:hover::after {
  background-color: rgba(0, 0, 0, 0.125);
}

.BoxComponent-group-listRow-tinted-isInteractive-minBlockSize_56px-padding_8px {
  background-color: rgba(255, 255, 255, 0.05);
}

.main-shelf-shelfGrid,
.main-gridContainer-gridContainer {
  margin-inline: 0rem !important;
}

:root {
  --button-border: 8px;
}

svg {
  filter: drop-shadow(-2px 2px 2px rgb(0 0 0 / 15%));
}

.Root__top-container::before {
  content: "";
  background-image: var(--image_url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all var(--fade-time) ease !important;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(var(--blur)) contrast(var(--cont)) saturate(var(--satu))
    brightness(var(--bright));
  pointer-events: none;
  backface-visibility: hidden;
  will-change: transform;
  transition: background-image var(--ease-transition);
  opacity: 0.55;
  z-index: 0;
}

/* FullScreen Styles */

.npv-background-image__overlay {
  background: linear-gradient(
      rgba(var(--spice-rgb-main), 0.75) 0,
      rgba(var(--spice-rgb-main), 0.25) 100%
    ),
    url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter) brightness(0.1) contrast(1.025)' /%3E%3C/svg%3E");
  backdrop-filter: saturate(0.9) brightness(0.9);
}

.npv-main-container,
.npv-background-color,
.npv-lyrics__gradient-background {
  background-color: rgba(var(--spice-rgb-main), 0.75) !important;
  background-image: none !important;
  background: none !important;
}

.npv-track-metadata,
.npv-up-next {
  min-width: 6rem;
  border: 2px solid
    rgba(var(--spice-rgb-main), var(--bg-color-opacity-homeHeader));
  padding: 0.5rem;
  border-radius: var(--card-border-radius);
  background-color: rgba(var(--spice-rgb-card), 0.75);
  color: rgba(var(--spice-rgb-subtext), 0.6);
}

.npv-up-next__info {
  color: var(--spice-text);
}

.npv-lyrics__text--credits,
.npv-track-metadata__creator-name,
.npv-lyrics__text-wrapper--previous,
.npv-lyrics__text--credits {
  color: rgba(var(--spice-rgb-text), 0.5) !important;
}

::backdrop,
.GenericModal__overlay:not(.mXdNvIO9PYnBFoyoMyUO.Xf30G8NSPQ3pex0iD4zB) {
  backdrop-filter: blur(0.2rem) saturate(2) invert(0.0125) brightness(0.5);
  background-color: rgba(var(--spice-rgb-main), 0.75);
}

::backdrop {
  backdrop-filter: blur(2rem) saturate(2) invert(0.0125) brightness(0.5);
}

body:has(.BeautifulLyricsPage) {
  ::backdrop {
    background-color: rgba(var(--spice-rgb-main), 1);
  }
}

.main-tag-container {
  background-color: var(--spice-accent);
}

.main-entityHeader-background {
  transform: translateY(calc(var(--scroll) * -135vh)) !important;
  transition: var(--ease-transition);
}

.main-entityHeader-overlay,
.main-entityHeader-overlay::after,
.EmeHQXR87mUskYK6xEde,
.D6IunHuzuULf_Sr88GOA,
.N_8iI7NKHP0iG2jp3g0R,
.main-entityHeader-backgroundColor {
  background: none !important;
  background-color: transparent !important;
  background-image: none !important;
}

.main-entityHeader-backgroundColor {
  background-color: rgba(var(--spice-rgb-main), 0.25);
}

.playlist-playlist-playlistContent {
  padding-bottom: 2rem;
}

.playlist-playlist-playlistContent {
  background-color: transparent;
}

.playlist-playlist-playlist
  > .main-entityHeader-container.main-entityHeader-withBackgroundImage {
  height: 40vh;
}

.T9iBYqbERZHdwDl0U2tC:focus-within .hGbRiYkIjjy4sJvor0A2 > *,
.T9iBYqbERZHdwDl0U2tC:hover .hGbRiYkIjjy4sJvor0A2 > *,
.T9iBYqbERZHdwDl0U2tC .hGbRiYkIjjy4sJvor0A2 > :not(.OgaF7O4ER8AvZfFd6JdJ) {
  opacity: 0.75 !important;
}

.encore-dark-theme .encore-inverted-light-set,
.ButtonInner-small-iconOnly {
  --background-base: var(--spice-accent);
}

.GenericModal {
  button {
    min-width: max-content !important;
  }
}

.GenericModal--afterOpen {
  border: var(--default-border-thickness) solid var(--shadow-rgb);
}

.od_kF1rLZbir8kM_F607,
.BPDHTIIFueJMvtDPZttw {
  background-color: rgba(var(--spice-rgb-main), 0.25) !important;
}

.tLjX9htIKD_OCmEX01UN {
  background-color: rgba(var(--spice-rgb-accent), 0.25);
  height: 6.5rem;
  width: 6.5rem;
  margin-bottom: 2rem;
}

.jW4eWdr_LUeOXwPpKhWG .BPDHTIIFueJMvtDPZttw {
  max-width: 95vw;
}

.npv-background-image__overlay {
  background-color: transparent !important;
}

.LegacyChip__LegacyChipComponent-sc-tzfq94-0:hover
  > .ChipInnerComponent-sm-isUsingKeyboard.ChipInnerComponent-sm-isUsingKeyboard,
.LegacyChip__LegacyChipComponent-sc-tzfq94-0:hover
  > .ChipInnerComponent-sm-selected.ChipInnerComponent-sm-selected {
  background-color: rgba(var(--spice-rgb-accent), 0.75) !important;
}

.LegacyChip__LegacyChipComponent-sc-tzfq94-0:active
  > .ChipInnerComponent-sm-isUsingKeyboard.ChipInnerComponent-sm-isUsingKeyboard,
.LegacyChip__LegacyChipComponent-sc-tzfq94-0:active
  > .ChipInnerComponent-sm-selected.ChipInnerComponent-sm-selected {
  background-color: rgba(var(--spice-rgb-accent), 0.75) !important;
}

.spotifyinternal-artistnpv .npv-header__metadata {
  color: rgba(var(--spice-rgb-subtext), 0.75);
}

[data-context-menu-open="true"] a:only-child,
a:focus,
a:hover,
a[data-context-menu-open="true"] {
  text-decoration: none;
}

.main-embedWidgetGenerator-container,
.main-trackCreditsModal-container {
  max-height: 90vh;
  min-width: 40vw;
  backdrop-filter: blur(1rem) brightness(0.75);
  background-color: rgba(var(--spice-rgb-card), 0.25) !important;
  border: var(--default-border-thickness) solid
    rgba(var(--spice-rgb-subtext), 0.25);
  border-radius: var(--card-border-radius);
}

.main-trackCreditsModal-mainSection {
  scrollbar-width: thin;
}

.ijaSPbJ8wd3RNiyukjlh {
  display: flex;
  padding: 0;
  gap: var(--default-gap2);
  flex-direction: column;
}

.ig17e2GN63Tgv3JeRoJF {
  color: rgba(var(--spice-rgb-subtext), 0.75);
  gap: 8px;
}

.button-module__button___hf2qg_marketplace {
  background-color: var(--spice-accent);
}

.toggle-module__toggle-input___ceLM4_marketplace:checked
  ~ .toggle-module__toggle-indicator-wrapper___6Lcp0_marketplace {
  background-color: var(--spice-accent);
}

.bOAvdKi0zqyA_S6ThcvF {
  margin: 0 auto;
}

.main-yourLibraryX-navLinkActive .home-active-icon,
.main-yourLibraryX-navLinkActive .search-active-icon {
  color: var(--spice-accent);
}

.main-yourLibraryX-navLink[aria-label="Home"] path,
.main-yourLibraryX-navLink[href="/"] path,
.main-yourLibraryX-navLink[href="/search"] path,
.main-yourLibraryX-navLink[href="/search"] path,
.main-yourLibraryX-navLink[href="/lyrics-plus"] path,
.main-yourLibraryX-navLink[href="/marketplace"] path,
.main-globalNav-link-icon[aria-label="Marketplace"] path,
button[aria-label="Browse"] path,
button[aria-label="Home"] path {
  display: none !important;
}

.main-yourLibraryX-navLink[aria-label="Home"]:hover svg,
.main-yourLibraryX-navLink[href="/"]:hover svg,
.main-yourLibraryX-navLink[href="/search"]:hover .search-icon,
.main-yourLibraryX-navLink[href="/lyrics-plus"]:hover svg,
.main-yourLibraryX-navLink[href="/marketplace"]:hover svg,
.main-globalNav-link-icon[aria-label="Marketplace"]:hover svg {
  background-color: var(--spice-text) !important;
}

.main-yourLibraryX-navLink[href="/"] svg,
.main-yourLibraryX-navLink[aria-label="Home"] svg,
button[aria-label="Home"] svg {
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/home-outline.svg");
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/home-outline.svg");
  background-color: var(--spice-subtext) !important;
}
.main-yourLibraryX-navLink[aria-label="Home"].active svg,
.main-yourLibraryX-navLink[href="/"].active svg,
.main-globalNav-navLinkActive[aria-label="Home"] svg {
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/home-filled.svg");
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/home-filled.svg");
}

.main-yourLibraryX-navLink[href="/search"] svg {
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/search.svg");
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/search.svg");
  background-color: var(--spice-subtext) !important;
}
.main-yourLibraryX-navLink[href="/search"].active svg {
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/search-filled.svg");
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/search-filled.svg");
  background-color: var(--spice-accent) !important;
}

.main-yourLibraryX-navLink[href="/lyrics-plus"] > svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/slide-text-outline.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/slide-text-outline.svg");
  background-color: var(--spice-subtext) !important;
}
.main-yourLibraryX-navLink[href="/lyrics-plus"].active > svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/slide-text.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/slide-text.svg");
  background-color: var(--spice-accent) !important;
}

.main-yourLibraryX-navLink[href="/marketplace"] > svg,
.main-globalNav-link-icon[aria-label="Marketplace"] svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/cart-outline.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/cart-outline.svg");
  background-color: var(--spice-subtext) !important;
  scale: 1.25;
}

.main-yourLibraryX-navLink[href="/marketplace"].active > svg,
.main-globalNav-link-icon.main-globalNav-navLinkActive[aria-label="Marketplace"]
  svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/cart.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/cart.svg");
  background-color: var(--spice-text) !important;
  scale: 1.25;
}

button[aria-label="Browse"] svg {
  display: none;
  -webkit-mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/compass_outline.svg");
  mask-image: url("https://sanooj.is-a.dev/better-bloom/assets/icons/compass_outline.svg");
  background-color: var(--spice-subtext) !important;
  scale: 1.25;
}

.main-globalNav-searchInputSection .uozPfgVVoIwfTp8aGiu1 svg {
  background-color: var(--spice-text) !important;
}

.main-yourLibraryX-navLink[href="/marketplace"].active > svg {
  background-color: var(--spice-accent) !important;
}

.main-contextMenu-menuItemButton .egE6UQjF_UUoCzvMxREj {
  display: none; /* hides report button from contextMenu */
}

.main-nowPlayingView-contextItemInfo {
  padding-right: 0.25rem;
}

.main-topBar-searchBar {
  position: relative;
  min-width: 16rem;
}

/* Right sidebar */

.main-buddyFeed-header {
  min-height: 42px !important;
  height: 42px;
}

.main-buddyFeed-scrollBarContainer {
  padding-top: 4rem !important;
}

.main-buddyFeed-actions > * {
  color: var(--spice-text);
}

.main-buddyFeed-content > div:has(.main-buddyFeed-header) {
  position: fixed;
  width: 100%;
  height: fit-content;
  backdrop-filter: blur(1rem);
  background-color: rgba(var(--spice-rgb-card), 0.5) !important;
  z-index: 10;
  top: -1px;
  left: 0;
}

.main-trackInfo-contentWrapper > *,
*:hover,
*:focus {
  text-decoration: none !important;
}

/* Beautiful Lyrics */

#BeautifulLyricsFullscreenButton {
  color: var(--spice-subtext) !important;
}

button:has(.LyricsPageIcon) {
  margin-right: 0;
}

.lyrics-background-container::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(var(--spice-rgb-main), 0.25);
  z-index: 10;
  backdrop-filter: brightness(0.75);
}

.BeautifulLyricsPage.Fullscreen .Content .PlayPanel {
  display: grid !important;
  padding-top: 0 !important;
  align-content: center;
}

.main-yourLibraryX-navItem > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  height: 40px;
}

.main-confirmDialog-container {
  background-color: transparent !important;
}

.marketplace-add-snippet-btn {
  bottom: 3rem;
}

/* Transparent Windows Controls */
body::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 999;
  backdrop-filter: brightness(2.12);
  width: var(--control-width, 0);
  height: var(--control-height, 0);
}

/* Popup searchbar */

.QWeCmvys_7VINTbfUmGB {
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding-left: 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  background-color: rgba(var(--spice-rgb-card), 0.75) !important;
  color: var(--spice-text) !important;
  width: 100%;
  border: var(--default-border-thickness) solid
    rgba(var(--spice-rgb-subtext), 0.125);
  border-radius: var(--border-radius);
}

.TQb3mB9R6qGsxvPnCurA {
  padding: 0;
  border-radius: var(--border-radius);
  background-color: transparent !important;
  color: var(--spice-subtext) !important;
  svg {
    position: absolute;
    margin-left: 0.5rem;
    z-index: 10;
    color: var(--spice-subtext);
  }
}

.NU8xwWC0RWBRh_PBJdJe,
.Bn7PjpLWU6TcPCoeP98S,
.SUOB9gChfkiToLTPl9Bc,
.zZMsUUWG29PYcwWPXhOV {
  background-color: transparent !important;
}

.GenericModal[aria-label="Search"] {
  backdrop-filter: saturate(1) blur(var(--blur-radius)) brightness(0.85);
  border-radius: var(--border-radius);
  border: var(--default-border-thickness) solid
    rgba(var(--spice-rgb-subtext), 0.125);
}

.N9tnwm0XDrt_eGJd2D2A {
  max-height: 70vh;
  min-width: 60rem;
  width: 60vw;
}
