@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Commonly Used Values */
  --border-thickness: 1px;
  /* Spacing & Sizing */

  /* Gap */
  --gap-sm: 0.25rem;
  --gap-md: 0.5rem;
  --gap-lg: 0.75rem;
  --gap-xl: 1rem;

  --grid-gap: var(--gap-md);

  /* Margin */
  --margin-sm: 0.25rem;
  --margin-md: 0.5rem;
  --margin-lg: 0.75rem;
  --margin-xl: 1rem;
  --margin-2xl: 1rem;

  /* Padding */
  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 0.75rem;
  --padding-xl: 1rem;

  /* Blur */
  --blur-sm: 0.25rem;
  --blur-md: 0.5rem;
  --blur-lg: 0.75rem;
  --blur-xl: 1rem;
  --blur-2xl: 1.5rem;
  --blur-3xl: 2rem;
  --blur-4xl: 3rem;
  --blur-5xl: 4rem;
  --blur-6xl: 5rem;

  /* Scale / Zoom */
  --scale-up: 1.04;
  --scale-down: 0.96;

  /* Opacity */
  --generic-modal-bg-opacity: 0.5;

  /* Background Color */
  --main-color: rgba(var(--spice-rgb-main), 0.5);
  --popup-color: rgba(var(--spice-rgb-card), 0.5);
  --card-color: rgba(var(--spice-rgb-card), 0.25);
  --card-hover-color: rgba(var(--spice-rgb-card), 0.25);
  --sidebar-color: rgba(var(--spice-rgb-sidebar), 0.5);
  --button-color: rgba(var(--spice-rgb-button), 0.5);
  --button-active-color: rgba(var(--spice-rgb-button-active), 0.125);
  --accent-color: var(--spice-rgb-accent);
  --normal-button-color: rgba(var(--spice-rgb-card), 0.5);
  --spice-button-disabled: rgba(var(--spice-rgb-subtext), 0.5);

  /* Transparent controls */
  --control-width: 0px;
  --control-height: 0px;

  /* Top Bar */
  --top-bar-bg-color: rgba(var(--spice-rgb-card), 0.25);
  --top-bar-bg-blur: var(--blur-xl);
  --top-bar-saturation: 150%;

  /* Filter Chips */
  --filter-chips-bg-color: rgba(var(--spice-rgb-card), 0.25);
  --filter-chips-bg-blur: var(--blur-xl);
  --filter-chips-bg-saturation: var(--top-bar-saturation);

  /* Background Blur */
  --animated-background-blur: 2rem;
  --non-animatedbg-blur: 2rem;

  /* Scrollbar */
  --scrollbar-display: block;
  --scrollbar-width: 0.25rem;
  --scrollbar-color: rgba(var(--spice-rgb-text), 0.75) !important;

  /* Border */
  --button-border-radius: 0.5rem;
  --icon-border-radius: 0.5rem;
  --card-border-radius: 0.25rem;
  --border-radius-rounded: 9999px;
  --spice-light-border: rgba(var(--spice-rgb-text), 0.125);
  --default-border: var(--border-thickness) solid rgba(var(--spice-rgb-text), 0.125);

  /* Now playing bar */
  --now-playing-bar-blur: var(--blur-xl);
  --now-playing-contrast: 100%;
  --now-playing-saturation: 100%;
  --now-playing-brightness: 100%;
  --now-playing-bar-height: 5.5rem;
  --now-playing-bar-opacity: 1;
  --now-playing-bar-bg-opacity: 0.5;
  --now-playing-bar-padding-x: 0.25rem;
  --now-playing-bar-padding-y: 0.25rem;
  --border-radius-now-playing-bar: 0.5rem;
  --margin-bottom-now-playing-bar: var(--panel-gap);
  --now-playing-bar-color: rgba(var(--spice-rgb-card),
      var(--now-playing-bar-bg-opacity));

  /* Fonts */
  --original-fonts: CircularSpVietnameseTitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, CircularSpVietnamese,
    var(--fallback-fonts, sans-serif);


  --font-to-use: "Poppins", var(--original-fonts);
  --encore-title-font-stack: var(--font-to-use) !important;
  --encore-body-font-stack: var(--font-to-use) !important;

  --normal-font-weight: 500;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 800;

  /* Background Overlay */
  --static-bg-blur: 1.5rem;
  --static-bg-contrast: 80%;
  --static-bg-brightness: 50%;
  --static-bg-saturation: 90%;

  --text-base: var(--spice-sidebar);

  /* Animated Background */
  --animated-background-time: 45s;
  --animated-background-blur: 64px;
  --animated-background-saturation: 150%;
  --animated-background-brightness: 65%;
  --animated-background-contrast: 115%;

  /* Beautiful Lyrics */
  --beautiful-lyrics-bg-opacity: 50%;
  --beautiful-lyrics-bg-saturation: 250%;
  --beautiful-lyrics-bg-brightness: 65%;
  --beautiful-lyrics-bg-contrast: 100%;

  /* Spotify Overrides */
  --background-noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.184' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='13' specularConstant='0.3' specularExponent='20' lighting-color='%23ffffff' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='133'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='specularLighting' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='%2300000000'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23ffffff' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");

  --text-subdued: rgb(var(--spice-rgb-subtext)) !important;

  --spice-tab-active: rgba(var(--spice-rgb-card), 0.5);

  --fade-time: 1s;

  --panel-gap: var(--gap-lg);

  --background-elevated-base: var(--normal-button-color);

  --lyrics-active-color: var(--spice-rgb-text);
  --lyrics-color-active: var(--spice-rgb-text);
  --lyrics-color-inactive: rgba(var(--lyrics-active-color), 0.2) !important;
  --lyrics-color-shadow: rgba(var(--lyrics-active-color), 0.25) !important;
  --lyrics-color-passed: rgba(var(--lyrics-active-color), .5) !important;
  --lyrics-color-background: transparent !important;
  --lyrics-color-messaging: rgb(0, 0, 0) !important;

  --lyrics-blur-coefficent: 0.05rem;
  --lyrics-shadow-coefficent: 0.5rem;
  --lyrics-scale-coefficent: 0.01;
}

/* Spicetify Overrides */
.encore-dark-theme,
.encore-dark-theme .encore-base-set {
  --background-press: var(--card-hover-color) !important;
}

.spotify__container--is-desktop.spotify__os--is-windows .Root__globalNav {
  padding-inline: calc(64px* var(--zoom-adjust-coefficient, 1)) calc(135px* var(--zoom-adjust-coefficient, 1));
}

/* Font */
body,
button,
input,
select,
textarea,
.encore-text,
.main-dropDown-dropDown,
.TypeElement-type-ballad,
.TypeElement-type-ballad-textBase,
.TypeElement-type-mesto-textSubdued,
.TypeElement-type-ballad-textBrightAccent,
.encore-text-body-small,
.encore-text-body-medium,
.encore-text-body-large,
.encore-text-title-medium,
.encore-text-title-small,
.circular-sp-vietnamese,
.circular-sp-vietnamese button,
.circular-sp-vietnamese input,
.circular-sp-vietnamese select,
.circular-sp-vietnamese textarea,
.encore-text-headline-large,
.main-nowPlayingView-sectionHeaderSpacing .main-nowPlayingView-lyricsContent {
  --text-subdued: var(--spice-subtext) !important;
  font-family: var(--font-to-use) !important;
  font-weight: var(--normal-font-weight);
  letter-spacing: 0.015rem;
}

.encore-text-body-large-bold,
.encore-text-body-medium-bold,
.encore-text-body-small-bold {
  font-family: var(--font-to-use) !important;
  font-weight: var(--bold-font-weight);
}

.encore-text-headline-large,
.encore-text-title-medium,
.encore-text-title-small,
.main-trackInfo-name {
  font-weight: var(--extra-bold-font-weight);
  letter-spacing: -0.025rem;
}

.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-main .view-homeShortcutsGrid-name {
  letter-spacing: 0.025rem;
  padding-left: var(--padding-sm);
}

.TypeElement-type-ballad-textBase,
.LineClamp {
  font-weight: 500;
}

.Root__now-playing-bar .encore-text-body-small {
  letter-spacing: 0.025rem;
}

.encore-text-marginal,
.encore-text-body-small,
.encore-text-body-medium,
.encore-text-body-large {
  font-weight: var(--normal-font-weight);
  letter-spacing: 0.015rem;
}

.TypeElement-type-ballad-textBase-useBrowserDefaultFocusStyle {
  font-weight: var(--normal-font-weight);
  font-family: var(--encore-title-font-stack), var(--fallback-fonts, sans-serif);
}

.TypeElement-type-ballad,
.encore-text-body-small-bold {
  font-weight: var(--bold-font-weight);
}

.Type__TypeElement-sc-goli-97j-0,
.TypeElement-type-mesto {
  color: var(--spice-text);
}

.main-entityHeader-topbarTitle {
  margin-left: var(--margin-md);
}

/* Scrollbar */
.os-theme-spotify.os-scrollbar {
  --os-size: 4px;
  --os-handle-bg: rgba(var(--spice-rgb-subtext), 0.3);
  --os-handle-bg-active: rgba(var(--spice-rgb-subtext), 0.3);
  --os-handle-bg-hover: rgba(var(--spice-rgb-subtext), 0.7);
  --os-handle-border-radius: 1rem;
}

* {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  scrollbar-width: thin !important;
}

/* Button styles */
button,
.ap8U6ZVS8BqMxUdinBis
/* ADD: card close button */
,
.main-avatar-avatar,
.main-playPauseButton-button,
.main-skipForwardButton-button,
.main-skipBackButton-button,
.ButtonInner-small-iconOnly,
.ButtonInner-medium-iconOnly,
.ButtonInner-large-iconOnly,

.main-globalNav-historyButtons button,
.Button-textBase-medium-medium-buttonTertiary-condensedAll-useBrowserDefaultFocusStyle,
.Button-textBrightAccent-large-large-buttonTertiary-iconOnly-condensed-useBrowserDefaultFocusStyle,
.ButtonInner-medium,
.Button-small-buttonPrimary-useBrowserDefaultFocusStyle-data-is-icon-only,
.Button-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle,
.Button-small-small-buttonTertiary-condensedAll-useBrowserDefaultFocusStyle,
.Root__globalNav .main-globalNav-link-icon,
.Button-small-buttonSecondary-useBrowserDefaultFocusStyle,
.LegacyChipComponent-checkbox-chip-sm-useBrowserDefaultFocusStyle,
.main-entityHeader-imageContainerClickable,
.ChipInnerComponent-sm,
.ChipInnerComponent-sm-selected,
.ChipInnerComponent-md,
.ChipInnerComponent-md-selected,
.ChipInnerComponent-lg,
.ChipInnerComponent-lg-selected,
.Button-small-buttonPrimary-useBrowserDefaultFocusStyle,
.Button-small-buttonSecondary-useBrowserDefaultFocusStyle:hover {
  text-wrap: nowrap;
  border-radius: var(--button-border-radius) !important;
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.main-userWidget-box,
.main-avatar-avatar,
.main-globalNav-icon,
.main-globalNav-link-icon,
.Root__globalNav .main-globalNav-link-icon {
  background-color: var(--normal-button-color) !important;
  aspect-ratio: 1/1;
}

.main-userWidget-box:focus,
.main-userWidget-box:hover,
.main-userWidget-box[data-context-menu-open="true"],
.BoxComponent-group-card-naked-isInteractive-padding_12px:hover::after {
  background-color: var(--card-hover-color);
}

.main-actionButtons {
  padding-inline: var(--gap-md) 0px !important;
}

.main-actionButtons button svg {
  scale: 1.25;
}

.main-actionButtons button,
.main-userWidget-boxCondensed,
.main-topBar-historyButtons .main-topBar-button {
  height: 3rem;
  width: 3rem;
  aspect-ratio: 1/1;
}

.main-avatar-avatar,
.main-userWidget-hasAvatar,
.main-avatar-avatar div,
.main-avatar-avatar img {
  min-height: 2rem !important;
  min-width: 2rem !important;
}

.main-nowPlayingView-aboutArtistV2Avatar,
.main-nowPlayingView-aboutArtistV2Avatar img,
.main-nowPlayingView-aboutArtistV2Avatar div {
  min-height: 8rem !important;
  min-width: 8rem !important;
}

.global-nav .main-actionButtons button,
.global-nav .main-globalNav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  border-radius: var(--button-border-radius);
  justify-content: center;
  -ms-flex-negative: 0;
  background-color: var(--normal-button-color);
  color: var(--text-subdued);
  flex-shrink: 0;
  min-width: var(--encore-control-size-base, 48px);
  min-block-size: var(--encore-control-size-base, 48px);
  padding-block-start: var(--encore-spacing-tighter, 12px);
  padding-block-end: var(--encore-spacing-tighter, 12px);
  padding-inline-start: var(--encore-spacing-tighter, 12px);
  padding-inline-end: var(--encore-spacing-tighter, 12px);
}

.main-entityHeader-imageContainerClickable:hover,
.Button-buttonPrimary-useBrowserDefaultFocusStyle-data-is-icon-only:hover .ButtonInner-sc-14ud5tc-0,
.Button-buttonPrimary-useBrowserDefaultFocusStyle-data-is-icon-only:hover .ButtonFocus-sc-2hq6ey-0,
.Button-small-small-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle:hover,
.main-globalNav-historyButtons button:hover,
.main-topBar-historyButtons button,
.main-topBar-buddyFeed:hover,
.Button-textBase-medium-medium-buttonTertiary-condensedAll-useBrowserDefaultFocusStyle:hover,
.Button-small-small-buttonTertiary-condensedAll-useBrowserDefaultFocusStyle:hover,
.Button-medium-medium-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle:hover,
.Button-medium-medium-buttonTertiary-iconOnly-condensedAll-useBrowserDefaultFocusStyle:hover {
  transform: scale(var(--scale-down)) !important;
}

.main-genericButton-button {
  color: var(--spice-subtext);
}

/* Input & Search Bar */
input,
.x-searchInput-searchInputInput,
.main-globalNav-searchInputContainer {
  border-radius: var(--card-border-radius) !important;
  background-color: rgba(var(--spice-rgb-card), 0.25) !important;
  box-shadow: none !important;
}

.x-searchInput-searchInputInput:hover,
.main-globalNav-searchInputContainer input:hover {
  background-color: rgba(var(--spice-rgb-card), 0.5) !important;
}

.x-searchInput-searchInputInput:focus,
.main-globalNav-searchInputContainer input:focus {
  background-color: rgba(var(--spice-rgb-card), 0.75) !important;
  border-bottom: 2px solid rgb(var(--accent-color)) !important;
}

/* Border */
.Vn9yz8P5MjIvDT8c0U6w
/* ADD: Search card selector */
,
.CfruGiDGW_FH4l65GMpb

/* ADD: Card elements selector */
,
.Button-small-buttonSecondary-useBrowserDefaultFocusStyle:hover,
.Button-small-buttonSecondary-useBrowserDefaultFocusStyle,
.x-searchInput-searchInputInput,
.main-globalNav-searchInputContainer,
.Root__right-sidebar,
.Root__main-view,
.main-yourLibraryX-entryPoints,
.main-card-cardContainer,
.main-nowPlayingView-section,
.main-globalNav-icon,
.main-contextMenu-menu,
[data-tippy-root],
.x-settings-equalizerSection,
.main-actionButtons button,
.main-topBar-button,
.main-userWidget-boxCondensed,
.main-topBar-buddyFeed,
.main-topBar-historyButtons button,
.main-topBar-button,
.main-userWidget-box,
.main-globalNav-link-icon,
.main-dropDown-dropDown {
  border: var(--default-border) !important;
}

/* Card Border Radius */
.main-card-imageContainer>div,
.main-image-image,
.MxmW8QkHqHWtuhO589PV,
.x-entityImage-imageContainer,
.x-entityImage-circle,
.Root__right-sidebar,
.Root__main-view,
.Root__now-playing-bar,
.Root__nav-bar,
.main-userWidget-box,
.x-settings-equalizerSection,
[data-tippy-root],
.main-contextMenu-menu,
.main-avatar-image {
  border-radius: var(--card-border-radius);
}

/* Main container */
.spotify__container--is-desktop .Root__top-container {
  padding-top: calc(48px + var(--panel-gap) * 2);
}

/* Left sidebar */
#Desktop_LeftSidebar_Id {
  transition: width 0.5s cubic-bezier(1, 0.25, 0, 1);
}

/* Background Color */
.Root__main-view {
  background-color: var(--main-color);
}

.Root__nav-bar,
.NowPlayingView,
#Desktop_PanelContainer_Id,
.IkRGajTjItEFQkRMeH6v

/* Add classes for right sidebar container */
,
.f2UE9n5nZcbgZrGYTU3r {
  background: transparent !important;
}

.Root__right-sidebar,
#Desktop_PanelContainer_Id,
.NowPlayingView,
.main-yourLibraryX-entryPoints,
.yHlSWaHkqZHm5mcY8ZFh,
.pT8jWX5PbLB2Z91Ngl7n {
  background-color: var(--card-color);
}

/* Main Bg */
.Root__top-container {
  background-color: var(--main-color);
}

/* Top Bar Styles */
.main-topBar-container>*,
.main-topBar-topbarContent {
  -webkit-app-region: drag !important;
}

.main-topBar-topbarContentRight button,
.main-topBar-topbarContentRight *,
.main-topBar-historyButtons * {
  -webkit-app-region: no-drag;
}

.main-topBar-container {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 64px;
}

.artist-artistDiscography-topBar,
.search-searchCategory-SearchCategory,
.global-nav .main-home-filterChipsContainer,
.main-trackList-trackListHeader,
.new-releases-header,
.marketplace-header,
.main-home-filterChipsContainer {
  top: 0 !important;
}

.artist-artistDiscography-tracklist .main-trackList-trackListHeader {
  top: 40px !important;
}

.global-nav .artist-artistDiscography-tracklist .main-trackList-trackListHeader {
  top: 96px !important;
}

.global-nav .main-trackList-trackListHeader,
.global-nav .artist-artistDiscography-topBar {
  top: 64px !important;
}

.global-nav .main-topBar-container {
  position: var(--header-position, relative);
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
}

.global-nav .main-home-filterChipsContainer,
.global-nav .main-topBar-background {
  border-bottom: var(--default-border);
}

.main-trackCreditsModal-container {
  max-height: 90vh;
  width: max-content;
  max-width: 75vw;
}

.main-home-homeHeader {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.npv-background-color,
._2ajKWDiy6YvJu5wo8I1g

/* ADD: Track list header active i.e, scrolled */
,
.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader,
.marketplace-header,
.artist-artistDiscography-topBar,
.search-searchCategory-SearchCategory,
.global-nav .main-topBar-background {
  background: none !important;
  background-color: transparent !important;
  -webkit-backdrop-filter: blur(var(--top-bar-bg-blur)) saturate(var(--top-bar-saturation)) !important;
  backdrop-filter: blur(var(--top-bar-bg-blur)) saturate(var(--top-bar-saturation)) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.main-topBar-background {
  background: none !important;
  background-color: transparent !important;
}

.main-topBar-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.marketplace-header {
  margin: 0 calc((var(--content-spacing) * -1) - 8px) 0 calc((var(--content-spacing) * -1) - 8px);
  padding: var(--padding-md) var(--content-spacing);
}

.marketplace-footer {
  margin-top: 5rem;
}

#marketplace-readme {
  background-color: transparent !important;
}

.ButtonInner-small-iconOnly,
.button-module__button___hf2qg_marketplace {
  --background-base: rgb(var(--accent-color));
  background-color: rgb(var(--accent-color));
}

.main-trackList-trackListHeader {
  margin: 0 calc((var(--content-spacing) * 2 * -1) - 8px) 0 calc((var(--content-spacing) * 2 * -1) - 8px);
  padding: 0 calc(var(--content-spacing) * 2);
}

.azrW1gfJbgz897iDaITJ,
.main-trackList-trackList {
  border: var(--default-border);
  padding: var(--padding-md);
  border-radius: var(--card-border-radius);
}

/* Home Header */
.main-home-homeHeader {
  background-image: var(--background-noise);
  -webkit-mask-image: linear-gradient(var(--main-color) 0, transparent 100%);
  mask-image: linear-gradient(var(--main-color) 0, transparent 100%);
}

/* Filter chips */
.main-home-filterChipsSection {
  background-color: var(--filter-chips-bg-color) !important;
  -webkit-backdrop-filter: blur(var(--filter-chips-bg-blur)) saturate(var(--filter-chips-bg-saturation));
  backdrop-filter: blur(var(--filter-chips-bg-blur)) saturate(var(--filter-chips-bg-saturation));
}

/* Image section (Playlist and Artist) */
.main-entityHeader-container {
  background: linear-gradient(rgba(var(--spice-rgb-main), 0) 0,
      rgba(var(--spice-rgb-main), 0.75) 100%),
    var(--background-noise);
}

.main-entityHeader-overlay,
.main-entityHeader-background.main-entityHeader-gradient,
.main-entityHeader-background {
  background-color: transparent;
  transform: translateY(calc(var(--scroll-top) * -1)) !important;
}

.main-entityHeader-overlay {
  border: none !important;
}

.main-entityHeader-overlay:after {
  display: none;
  background-color: transparent !important;
  background: none !important;
}

.main-actionBarBackground-background,
.main-entityHeader-background,
.main-entityHeader-backgroundColor {
  background-color: rgba(var(--spice-rgb-card), 0.25) !important;
  background-image: var(--background-noise);
  border-bottom: var(--default-border);
}

.main-actionBarBackground-background {
  background-image: var(--background-noise);
  -webkit-mask-image: linear-gradient(var(--main-color) 0, transparent 100%);
  mask-image: linear-gradient(var(--main-color) 0, transparent 100%);
}

.main-entityHeader-background {
  height: 91% !important;
}

.main-entityHeader-container {
  height: 90vh !important;
}

.main-entityHeader-container.main-entityHeader-nonWrapped {
  height: min(40vh, var(--fluid-height));
  max-height: 400px;
  min-height: 40vh;
}

/* Now playing bar */
.Root__now-playing-bar {
  position: fixed;
  height: fit-content;
  width: calc(100% - (var(--panel-gap) * 2));
  bottom: var(--margin-bottom-now-playing-bar);
  left: var(--gap-md);
  right: var(--gap-md);
}

.main-nowPlayingBar-container {
  padding: var(--now-playing-bar-padding-y) var(--now-playing-bar-padding-x);
  background-color: var(--now-playing-bar-color);
  border: var(--default-border);
  border-radius: var(--border-radius-now-playing-bar);
  -webkit-backdrop-filter: opacity(var(--now-playing-bar-opacity)) blur(var(--now-playing-bar-blur)) saturate(var(--now-playing-saturation)) brightness(var(--now-playing-brightness)) contrast(var(--now-playing-contrast));
  backdrop-filter: opacity(var(--now-playing-bar-opacity)) blur(var(--now-playing-bar-blur)) saturate(var(--now-playing-saturation)) brightness(var(--now-playing-brightness)) contrast(var(--now-playing-contrast));
}

.main-nowPlayingBar-nowPlayingBar {
  height: var(--now-playing-bar-height);
}

.main-coverSlotCollapsed-container,
.main-coverSlotCollapsed-navAltContainer {
  aspect-ratio: 1/1;
}

.main-nowPlayingWidget-nowPlaying {
  gap: var(--gap-sm);
}

/* Connect Bar */
.main-connectBar-connectBar {
  min-height: 2rem;
  padding: var(--padding-md);
  position: absolute;
  bottom: calc(var(--now-playing-bar-height) + var(--gap-xl));
  right: var(--gap-sm);
}

.main-connectBar-connectBar.main-connectBar-connected {
  background-color: rgba(var(--accent-color), 1);
  color: var(--spice-text);
}

/* Scroll Node */
.main-view-container__scroll-node-child-spacer {
  height: 0px;
}

div[data-testid="hpto-parent-container"] {
  padding: 0 !important;
}

.lyrics-lyrics-contentWrapper,
.main-view-container__scroll-node,
.nw2W4ZMdICuBo08Tzxg9

/* ADD: Right sidebar scroll node */
  {
  padding-bottom: calc(var(--now-playing-bar-height) + var(--gap-lg));
}

/* Notification */
.notistack-SnackbarContainer {
  padding-bottom: calc(var(--now-playing-bar-height));
}

/* Generic Modal */

.GenericModal__overlay {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.JnpOnFaQfrRIA2fYe88A

/* ADD: classes for artist popup */
  {
  max-height: 70vh !important;
}

.GenericModal__overlay {
  background-color: rgba(var(--spice-rgb-shadow),
      var(--generic-modal-bg-opacity));
  -webkit-backdrop-filter: blur(var(--blur-sm));
  backdrop-filter: blur(var(--blur-sm));
}

.BoxComponent-box-elevated {
  --text-base: var(--spice-text) !important;
  background-color: rgba(var(--spice-rgb-shadow),
      0.2) !important;
  color: var(--spice-text) !important;
  -webkit-backdrop-filter: blur(var(--blur-sm));
  backdrop-filter: blur(var(--blur-sm));
  border: var(--default-border);
}

.JnpOnFaQfrRIA2fYe88A,
.uJjmxe0T11dUVeW6Biz8,
.main-embedWidgetGenerator-container,
.GenericModal {
  max-height: 90vh;
  background-color: var(--card-color);
  border: var(--default-border);
  border-radius: var(--card-border-radius);
  -webkit-backdrop-filter: blur(var(--blur-sm)) brightness(0.5);
  backdrop-filter: blur(var(--blur-sm)) brightness(0.5);
}

.main-embedWidgetGenerator-contentCode {
  display: none;
  visibility: hidden;
  background-color: transparent;
}

.main-embedWidgetGenerator-visible,
.main-embedWidgetGenerator-contentCode.main-embedWidgetGenerator-visible {
  display: block;
  visibility: visible;
}

.main-embedWidgetGenerator-code {
  background-color: var(--card-color);
  border: var(--default-border);
  border-radius: var(--card-border-radius);
}

/* Main view cards */
.N_8iI7NKHP0iG2jp3g0R

/* ADD: Browse bg color */
,
.main-entityHeader-overlay,
.main-embedWidgetGenerator-container,
.main-trackCreditsModal-container,
.playlist-playlist-playlistContent,
::backdrop {
  background-color: transparent;
  background: none !important;
}

.contentSpacing {
  min-width: calc(100% - (var(--content-spacing) * 2));
}

.main-rootlist-wrapper {
  margin-top: var(--padding-md);
}

.main-yourLibraryX-libraryRootlist {
  margin-bottom: calc(var(--now-playing-bar-height) + var(--gap-lg)) !important;
}

.main-yourLibraryX-navItem:has(.active) {
  background-color: rgba(var(--spice-rgb-selected-row), 0.075);
  border-radius: var(--card-border-radius);
}

.main-embedWidgetGenerator-container,
.main-trackCreditsModal-container,
.artist-artistDiscography-headerContainer {
  border: var(--default-border);
  border-radius: var(--card-border-radius);
}

.global-nav .artist-artistDiscography-headerContainer.artist-artistDiscography-firstAlbum {
  margin-top: 64px;
  padding: 64px;
}

.artist-artistDiscography-headerContainer {
  margin-bottom: var(--margin-xl);
}


/* Cards */
.EmeHQXR87mUskYK6xEde
/* ADD: Artist main card Selector */
,
.Vn9yz8P5MjIvDT8c0U6w
/* ADD: Search card selector */
,
.CfruGiDGW_FH4l65GMpb
/* ADD: Card elements selector */
,
.mXNT9H2GU7lDW4cGx0q1

/* ADD: search top card */
,
.cover-art,
.main-card-card,
.tippy-arrow,
.tippy-box,
.tippy-box[data-theme~=activation],
.BoxComponent-group-card-naked-isInteractive-draggable,
.main-nowPlayingView-aboutArtistV2Button,
.artist-artistDiscography-headerContainer,
.x-settings-equalizerSection,
.BoxComponent-group-listRow-naked-isInteractive-minBlockSize_56px,
.Box-group-naked-listRow-isInteractive-hasLeadingOrMedia-minBlockSize_56px .main-nowPlayingView-section,
.main-nowPlayingView-section {
  background-color: var(--card-color) !important;
}

.tippy-box[data-theme~=device-picker] {
  background-color: var(--spice-main);
}

.BoxComponent-group-listRow-naked-isInteractive-minBlockSize_56px:hover::after,
.Box-group-naked-listRow-isInteractive-hasLeadingOrMedia-minBlockSize_56px:hover,
.BoxComponent-group-card-naked-isInteractive-draggable:hover,
.BoxComponent-group-card-naked-isInteractive-draggable:hover::after,
.BoxComponent-group-listRow-naked-isInteractive-minBlockSize_56px-padding_8px:hover,
.BoxComponent-group-listRow-naked-isInteractive-minBlockSize_56px-padding_8px:hover::after {
  background-color: var(--card-hover-color);
}

.main-gridContainer-gridContainer {
  max-width: 100%;
}

.artist-artistOnTour-date.artist-artistOnTour-elevated {
  background: rgba(var(--spice-rgb-selected-row), .1) !important;
}

.main-confirmDialog-container,
.profile-userEditDetails-container,
.main-playlistEditDetailsModal-container {
  --background-base: var(--main-color) !important;
  --text-base: var(--spice-text) !important;
  background-color: transparent !important;
  min-width: 100%;
}

#Desktop_PanelContainer_Id {
  --section-background-base: rgba(var(--spice-rgb-card), .25) !important;
}

/* Search Section */
.IGCDq9qa08JVVY3mcy7Y,
.CqCtb3wr4SK8AiZwxeH0

/* ADD: Search card <a> selector */
  {
  padding: 0 !important;
}

.Vn9yz8P5MjIvDT8c0U6w

/* ADD: Search card selector */
  {
  background-color: rgba(var(--spice-rgb-card), 0.25) !important;
}

.Vn9yz8P5MjIvDT8c0U6w:hover

/* ADD: Search card selector */
  {
  background-color: rgba(var(--spice-rgb-card), 0.5) !important;
}

.search-searchCategory-catergoryGrid {
  overflow: hidden;
}

/* Progress Bar */
@property --progress-bar-transform {
  inherits: true;
  initial-value: 0%;
  syntax: "<percentage>";
}

.progress-bar {
  transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    --progress-bar-transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --static-bg-color: rgba(var(--spice-rgb-text), 0.25);
  --fg-color: rgba(var(--spice-rgb-accent), 0.75);
  --is-active-fg-color: rgba(var(--spice-rgb-accent), 1);
}

.progress-bar--isDragging {
  transition-duration: 150ms;
}

.progress-bar__slider {
  width: 0.75rem;
  height: 0.75rem;
  background-color: rgba(var(--spice-rgb-accent), 1);
  transition: 0.3s box-shadow cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.progress-bar__slider:hover {
  box-shadow: 0 0 0 0.25rem rgba(var(--spice-rgb-card), 0.5) !important;
}

.progress-bar__slider:active {
  box-shadow: 0 0 0 0.5rem rgba(var(--spice-rgb-card), 0.5) !important;
  width: 0.5rem;
  height: 0.5rem;
}


/* Icons */
.main-playPauseButton-button {
  svg {
    display: none;
    visibility: hidden;
  }
}

/* Tag container */
.main-tag-container {
  background-color: rgba(var(--accent-color), 1);
}

/* Context Menu */
[data-tippy-root]::before,
.main-contextMenu-menu::before {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(var(--blur-xl));
  background-color: var(--card-color);
  border-radius: var(--card-border-radius);
}

[data-tippy-root],
[data-tippy-root] [data-tippy-root] ul,
.main-contextMenu-menu {
  background-color: transparent !important;
}

#context-menu ul[aria-label*="Add to playlist menu"] {
  p {
    max-width: 10rem;
  }
}

.main-contextMenu-menuItemButton:hover,
.main-contextMenu-menuItemButton:not([aria-checked="true"]):focus {
  background-color: var(--card-hover-color);
}

.X5mwWAw7ijxPvQOoabzQ,
.DquSH3YjnaIIXMZiOvwA {
  background-color: transparent;
}

/* lucid Animated Bg */

.lucid-animated-background-container {
  filter: saturate(var(--animated-background-saturation)) brightness(var(--animated-background-brightness));
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.lucid-animated-background-container .back,
.lucid-animated-background-container .backright,
.lucid-animated-background-container .backleft,
.lucid-animated-background-container .front {
  pointer-events: none;
  background-image: var(--image-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all var(--fade-time) ease;
  animation: rotateBg var(--animated-background-time) linear infinite;
  border-radius: var(--border-radius-rounded);
  filter: blur(var(--animated-background-blur)) saturate(var(--animated-background-saturation)) brightness(var(--animated-background-brightness)) contrast(var(--animated-background-contrast));
  position: absolute;
  aspect-ratio: 1/1;
  width: 90%;
}

.lucid-animated-background-container .front {
  right: 25%;
  top: 25%;
}

.lucid-animated-background-container .back {
  animation-direction: reverse;
  bottom: 25%;
  left: 5%;
}

.lucid-animated-background-container .backright {
  right: -50%;
  top: -20%;
  width: 75%;
}

.lucid-animated-background-container .backleft {
  left: -35%;
  top: -20%;
  width: 75%;
}

@keyframes rotateBg {
  0% {
    transform: rotate(var(--random-degree));
  }

  to {
    transform: rotate(calc(var(--random-degree) + 1turn));
  }
}

/* lucid Static Bg */
.lucid-static-background-container {
  width: 110%;
  height: 110%;
  top: -64px;
  left: -64px;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  transition: all var(--fade-time) ease;
  background-image: var(--image-url);
  filter: blur(var(--static-bg-blur)) contrast(var(--static-bg-contrast)) saturate(var(--static-bg-saturation)) brightness(var(--static-bg-brightness));
}

/* Lucid Solid bg */
.lucid-solid-background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  background-color: var(--spice-main);
}

.Root__top-container:has(.sgQuNaOh5Eu6vnzh3eoh

  /* ADD: Root cinema active */
) {

  .lucid-static-background-container,
  .lucid-animated-background-container,
  .lucid-solid-background-container {
    z-index: 5;
  }
}

.Root:has(.npv-main-container) {

  .lucid-static-background-container,
  .lucid-animated-background-container,
  .lucid-solid-background-container {
    z-index: 8;
  }
}

/* lucid Transparent Topbar */
.lucid-transperent-window-controls {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
  height: var(--control-height);
  width: var(--control-width);
  backdrop-filter: brightness(2.12);
  z-index: 999;
}

/* Icon Styles for Buttons */
button,
svg {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.NKUrT1GciYXAEEUtagN1,
.Qt226Z4rBQs53aedRQBQ,
.player-controls__left,
.player-controls__right {
  align-items: center;
}

svg:has(path[d="M12 6.05a1 1 0 0 1 1 1v7.486l1.793-1.793a1 1 0 1 1 1.414 1.414L12 18.364l-4.207-4.207a1 1 0 1 1 1.414-1.414L11 14.536V7.05a1 1 0 0 1 1-1z"]),
svg:has(path[d="M12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18zM1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12z"]) {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/download.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/download.svg");
}

svg:has(path[d="M12 6.05a1 1 0 0 1 1 1v7.486l1.793-1.793a1 1 0 1 1 1.414 1.414L12 18.364l-4.207-4.207a1 1 0 1 1 1.414-1.414L11 14.536V7.05a1 1 0 0 1 1-1z"]),
svg:has(path[d="M12 3a9 9 0 1 0 0 18 9 9 0 0 0 0-18zM1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12z"]) {
  background-color: var(--spice-subtext);

  &:hover {
    background-color: var(--spice-text);
  }

  path {
    visibility: hidden;
  }
}

.main-playButton-button[aria-label*="Play"],
.main-playButton-PlayButton>button[aria-label*="Play"],
.main-playPauseButton-button[aria-label="Play"],
.main-playPauseButton-button[aria-label="Play"],
.main-trackList-rowPlayPauseButton[aria-label*="Play"],
.main-trackList-rowImagePlayButton[aria-label*="Play"][aria-label*="by"],
.main-playButton-PlayButton>button[aria-label*="Play"],
.main-playButton-button[aria-label*="Pause"],
.main-playButton-PlayButton>button[aria-label*="Pause"],
.main-playPauseButton-button[aria-label*="Pause"],
.main-playPauseButton-button[aria-label="Pause"],
.main-trackList-rowPlayPauseButton[aria-label*="Pause"],
.main-trackList-rowImagePlayButton[aria-label*="Pause"],
.main-playButton-PlayButton>button[aria-label*="Pause"],
.main-repeatButton-button[aria-label="Enable repeat"],
.main-repeatButton-button[aria-label="Disable repeat"],
.main-repeatButton-button[aria-label="Enable repeat one"],
.main-playPauseButton-button,
button[aria-label="Add to Liked Songs"],
button[aria-label="Add to playlist"],
.main-skipBackButton-button,
.main-skipForwardButton-button,
.main-actionButtons>div>button[aria-label="What's New"] svg,
.main-actionButtons>button[aria-label="What's New"] svg,
.main-actionButtons>div>button[aria-label="Friend Activity"] svg,
.main-actionButtons>button[aria-label="Friend Activity"] svg,
.main-yourLibraryX-navLink[href="/lyrics-plus"]>svg,
.main-yourLibraryX-navLink[href="/lyrics-plus"].active>svg,
button[aria-label="Browse"] svg {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  display: block;
  background-color: var(--spice-subtext) !important;
  min-height: 1rem;
  min-width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 0 !important;
  border: none !important;

  svg,
  span {
    display: none;
    visibility: hidden;
  }
}

.main-playButton-button[aria-label*="Play"],
.main-playButton-PlayButton>button[aria-label*="Play"],
.main-playPauseButton-button[aria-label="Play"],
.main-playPauseButton-button[aria-label="Play"],
.main-trackList-rowPlayPauseButton[aria-label*="Play"],
.main-trackList-rowImagePlayButton[aria-label*="Play"],
.main-playButton-PlayButton>button[aria-label*="Play"] {
  background-color: var(--spice-text) !important;
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/play.svg") !important;
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/play.svg") !important;
}

.main-globalNav-link-icon[href="/lyrics-plus"] svg,
.main-yourLibraryX-navLink[href="/lyrics-plus"]>svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/slide-text-outline.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/slide-text-outline.svg");
  background-color: var(--spice-subtext) !important;
}

.main-globalNav-link-icon.main-globalNav-navLinkActive[href="/lyrics-plus"] svg,
.main-yourLibraryX-navLink[href="/lyrics-plus"].active>svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/slide-text.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/slide-text.svg");
  background-color: var(--spice-accent) !important;
}

.main-playButton-button[aria-label*="Pause"],
.main-playButton-PlayButton>button[aria-label*="Pause"],
.main-playPauseButton-button[aria-label*="Pause"],
.main-playPauseButton-button[aria-label="Pause"],
.main-trackList-rowPlayPauseButton[aria-label*="Pause"],
.main-trackList-rowImagePlayButton[aria-label*="Pause"],
.main-playButton-PlayButton>button[aria-label*="Pause"] {
  background-color: var(--spice-text) !important;
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/pause.svg") !important;
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/pause.svg") !important;
}

.main-skipBackButton-button,
.main-skipForwardButton-button {
  --button-size: 24px !important;
}

.main-repeatButton-button {
  scale: 0.65 !important;
}

.main-repeatButton-button[aria-checked="false"],
.main-repeatButton-button[aria-checked="true"] {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/repeat.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/repeat.svg");
  background-color: var(--spice-subtext);
}

.main-repeatButton-button[aria-checked="true"],
.main-repeatButton-button[aria-checked="mixed"] {
  background-color: var(--spice-accent) !important;
}

.main-repeatButton-button[aria-checked="mixed"] {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/repeat-mixed.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/repeat-mixed.svg");
}

button[aria-label="Add to playlist"],
button[aria-label="Add to Liked Songs"] {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/heart-outline.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/heart-outline.svg") !important;
  mask-size: 100%;
  mask-position: 50% 50%;
  min-width: 1.2rem;
  min-height: 1.2rem;

  svg,
  span {
    display: none;
    visibility: hidden;
  }
}

button[aria-label="Add to playlist"] {
  background-color: var(--spice-accent) !important;
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/heart.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/heart.svg") !important;
}

.main-skipBackButton-button {
  background-color: var(--spice-text) !important;
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/prev.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/prev.svg");
}

.main-yourLibraryX-navLink[aria-label="Marketplace"] svg,
button[href="/marketplace"] svg {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;

  path {
    display: none;
    visibility: hidden;
  }
}

.main-yourLibraryX-navLink[href="/marketplace"]>svg,
.main-globalNav-link-icon[aria-label="Marketplace"] svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/cart-outline.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/cart-outline.svg");
  background-color: var(--spice-subtext) !important;
  scale: 1.25;
}

.main-yourLibraryX-navLink[href="/marketplace"].active>svg,
.main-globalNav-link-icon.main-globalNav-navLinkActive[aria-label="Marketplace"] svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/cart.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/cart.svg");
  background-color: var(--spice-text) !important;
  scale: 1.25;
}

.main-skipForwardButton-button {
  background-color: var(--spice-text) !important;
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/next.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/next.svg");
}

.main-actionButtons>div>button[aria-label="What's New"] svg,
.main-actionButtons>button[aria-label="What's New"] svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/alert.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/alert.svg");
}

.main-actionButtons>div>button[aria-label="Friend Activity"] svg,
.main-actionButtons>button[aria-label="Friend Activity"] svg {
  -webkit-mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/people-team.svg");
  mask-image: url("https://sanooj.is-a.dev/Spicetify-Lucid/assets/icons/people-team.svg");
}

.Root__globalNav button:is([aria-label="Clear search field"]) {
  background-color: transparent !important;
  border: none !important;
}

button[aria-label="Browse"] path {
  display: none !important;
}

/* lucid settings */
.lucid-settings-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--padding-md) 0;
}

.lucid-settings-section,
.lucid-settings-card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding-bottom: var(--margin-2xl);
  border-bottom: var(--default-border);
}

.lucid-dropdown-container,
.lucid-settings-input-card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--padding-lg);
  background-color: var(--card-color);
  border: var(--default-border);
  border-radius: var(--card-border-radius);
}

.lucid-dropdown-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Lucid-slider-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap-md);
  align-items: center;
}

.settings-section-label,
.settings-section-heading {
  color: var(--spice-text);
}

.Lucid-slider {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  accent-color: var(--spice-accent);
  outline: none;
  opacity: 0.85;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.Lucid-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: var(--border-radius-rounded);
  background-color: var(--spice-accent);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.Lucid-slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(var(--spice-rgb-accent), 0.16) !important;
  transition: 0.3s ease-in-out;
}

.Lucid-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: var(--border-radius-rounded);
  background-color: var(--spice-accent);
  cursor: pointer;
}

.lucid-reset-btn {
  padding: 0.5rem 1rem;
  border-radius: var(--button-border-radius);
  background: rgba(var(--spice-rgb-accent), 0.75);
  color: var(--spice-text);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.lucid-reset-btn:hover {
  box-shadow: 7px 5px 56px -14px rgba(var(--spice-rgb-accent), 0.5) !important;
}

.lucid-reset-btn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px rgba(var(--spice-rgb-accent), 0.55) !important;
}

/* Dropdown */
.main-dropDown-dropDown {
  background-color: var(--card-color);
  scrollbar-width: thin !important;
}

.main-dropDown-dropDown option {
  background-color: var(--spice-card);
  color: var(--spice-text);
}

.main-dropDown-dropDown option:hover {
  background-color: var(--spice-accent);
}

.lucid-dropdown {
  width: fit-content;
}

/* Lyrics */
.Root__lyrics-cinema div,
.FUYNhisXTCmbzt9IDxnT,
.lyrics-lyricsContainer-LyricsContainer {
  background-color: transparent !important;
  --lyrics-active-color: var(--spice-rgb-text);
  --lyrics-color-active: var(--spice-rgb-text);
  --lyrics-color-inactive: rgba(var(--lyrics-active-color), 0.2) !important;
  --lyrics-color-shadow: rgba(var(--lyrics-active-color), 0.25) !important;
  --lyrics-color-passed: rgba(var(--lyrics-active-color), .5) !important;
  --lyrics-color-background: transparent !important;
  --lyrics-color-messaging: rgb(0, 0, 0) !important;
  --lyrics-color-inactive: rgba(var(--spice-rgb-subtext), .25);

  --lyrics-blur-coefficent: 0.05rem;
  --lyrics-shadow-coefficent: 0.5rem;
  --lyrics-scale-coefficent: 0.01;
  --scale-constant: 1;
}

.lyrics-lyrics-container {
  height: fit-content;
}

.lyrics-lyrics-background {
  background-color: transparent !important;
}

.Root__lyrics-cinema div {
  --lyrics-color-background: var(--spice-main) !important;
}

.spotify__container--is-desktop.spotify__os--is-windows .dS_1_x4lBrx_vX9AMg6Q {
  top: 64px !important;
}

.Root__lyrics-cinema {
  position: fixed;
  height: calc(100% - (var(--panel-gap) * 3) - var(--now-playing-bar-height));
  width: calc(100vw - (var(--gap-md) * 2));
  top: var(--gap-md);
  right: var(--gap-md);
  left: var(--gap-md);
  border: var(--default-border);
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  z-index: 6;
}

.lyrics-lyrics-contentContainer {
  margin-top: 20%;
  min-width: 80%;
}

.lyrics-lyricsContent-highlight {
  color: var(--lyrics-color-inactive) !important;
}

.main-nowPlayingView-lyricsContent .lyrics-lyricsContent-lyric {
  scale: calc(1 - var(--lyrics-scale-coefficent)*4);
}

.lyrics-lyricsContent-lyric {
  transform-origin: center;
  transition: all 100ms ease-in-out, scale 0.3s ease-in-out;
  color: rgba(var(--lyrics-active-color), 0.25) !important;
  filter: blur(calc(var(--lyrics-blur-coefficent) * 4)) !important;
  font-weight: var(--bold-font-weight);
}

.lyrics-lyricsContent-lyric:has(+.lyrics-lyricsContent-active),
.lyrics-lyricsContent-active+.lyrics-lyricsContent-lyric {
  /* Sibling after active line */
  color: rgba(var(--lyrics-active-color), 0.85) !important;
  filter: blur(calc(var(--lyrics-blur-coefficent) * 1)) !important;
  transform: scale(calc(var(--scale-constant) + var(--lyrics-scale-coefficent)*3.5)) !important;
}

.lyrics-lyricsContent-lyric:has(+*+.lyrics-lyricsContent-active),
.lyrics-lyricsContent-active+*+.lyrics-lyricsContent-lyric {
  /* Sibling 2 after active */
  color: rgba(var(--lyrics-active-color), 0.75) !important;
  filter: blur(calc(var(--lyrics-blur-coefficent) * 2)) !important;
  transform: scale(calc(var(--scale-constant) + var(--lyrics-scale-coefficent)*3)) !important;
}

.lyrics-lyricsContent-lyric:has(+*+*+.lyrics-lyricsContent-active),
.lyrics-lyricsContent-active+*+*+.lyrics-lyricsContent-lyric {
  /* Sibling 3 after active */
  color: rgba(var(--lyrics-active-color), 0.65) !important;
  filter: blur(calc(var(--lyrics-blur-coefficent) *2)) !important;
  transform: scale(calc(var(--scale-constant) + var(--lyrics-scale-coefficent)*2.5)) !important;
}

.lyrics-lyricsContent-lyric:has(+*+*+*+.lyrics-lyricsContent-active),
.lyrics-lyricsContent-active+*+*+*+.lyrics-lyricsContent-lyric {
  /* Sibling 4 after active */
  color: rgba(var(--lyrics-active-color), 0.55) !important;
  filter: blur(calc(var(--lyrics-blur-coefficent) * 3)) !important;
  transform: scale(calc(var(--scale-constant) + var(--lyrics-scale-coefficent)*2)) !important;
}

.lyrics-lyricsContent-lyric:has(+*+*+*+*+.lyrics-lyricsContent-active),
.lyrics-lyricsContent-active+*+*+*+.lyrics-lyricsContent-lyric {
  /* Sibling 5 after active */
  color: rgba(var(--lyrics-active-color), 0.45) !important;
  filter: blur(calc(var(--lyrics-blur-coefficent) * 3.5)) !important;
  transform: scale(calc(var(--scale-constant) + var(--lyrics-scale-coefficent)*1.5)) !important;
}

.lyrics-lyricsContent-lyric:has(+*+*+*+*+*+.lyrics-lyricsContent-active),
.lyrics-lyricsContent-active+*+*+*+*+.lyrics-lyricsContent-lyric {
  /* Sibling 6 after active */
  color: rgba(var(--lyrics-active-color), 0.35) !important;
  filter: blur(calc(var(--lyrics-blur-coefficent) * 4)) !important;
  transform: scale(calc(var(--scale-constant) + var(--lyrics-scale-coefficent)*1)) !important;
}

.lyrics-lyricsContent-lyric:hover,
.lyrics-lyricsContent-active {
  font-weight: var(--extra-bold-font-weight);
  color: rgba(var(--lyrics-active-color), 1) !important;
  filter: blur(calc(var(--lyrics-blur-coefficent) * 0)) !important;
  transform: scale(calc(var(--scale-constant) + var(--lyrics-scale-coefficent)*5)) !important;
  text-shadow: 0 0 calc(1rem + var(--lyrics-shadow-coefficent)*5) var(--lyrics-color-shadow) !important;
}

/* FullScreen Styles */
.npv-background-image__overlay {
  background-color: transparent !important;
  background:
    url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='0' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter) brightness(0.05) contrast(1)' /%3E%3C/svg%3E");
  backdrop-filter: brightness(0.9);
}

.npv-main-container,
.npv-background-color,
.npv-lyrics__gradient-background {
  background-color: rgba(var(--spice-rgb-main), 0.75) !important;
  background-image: none !important;
  background: none !important;
}

.npv-track-metadata {
  padding-right: var(--padding-xl);
}

.npv-track-metadata,
.npv-up-next {
  min-width: 6rem;
  border: var(--default-border) !important;
  padding: var(--padding-md);
  border-radius: var(--card-border-radius);
  background-color: rgba(var(--spice-rgb-card), 0.75) !important;
  color: rgba(var(--spice-rgb-subtext), 0.6);
}

.npv-up-next__info {
  color: var(--spice-text);
}

.npv-lyrics__text--credits,
.npv-track-metadata__creator-name,
.npv-lyrics__text-wrapper--previous,
.npv-lyrics__text--credits {
  color: rgba(var(--spice-rgb-text), 0.5) !important;
}

::backdrop {
  backdrop-filter: blur(var(--blur-xl));
}

/* canvas */
.canvasVideoContainerNPV {
  height: 80vh;
  border-radius: var(--card-border-radius) !important;
}

.canvasVideoContainerNPV::before,
.canvasVideoContainerNPV::after {
  border-radius: var(--card-border-radius);
  background: linear-gradient(180deg, transparent, var(--main-color));
}

/* Catjam extention */
#catjam-webm {
  bottom: var(--now-playing-bar-height) !important;
}

/* Beautiful Lyrics */

.BeautifulLyricsPage:not(.Fullscreen) {
  height: calc(100% - var(--now-playing-bar-height)) !important;
}

/* Whats new */
.Box-group-naked-listRow-isInteractive-hasLeadingOrMedia-minBlockSize_56px,
.SjhDNg4bQRQmIJAba47Z {
  grid-auto-rows: auto;
}

.Box-group-naked-listRow-isInteractive-hasLeadingOrMedia-minBlockSize_56px .BottomArea-hasLeadingOrMedia:last-of-type,
.SjhDNg4bQRQmIJAba47Z .BottomArea-hasLeadingOrMedia:last-of-type {
  position: absolute;
  right: var(--gap-lg);
  top: 50%;
  transform: translate(0, -50%);

  div {
    -webkit-margin-before: 0;
    margin-block-start: 0;
  }

  button,
  .SjhDNg4bQRQmIJAba47Z .eYvk_xcxVNMwCBkfY3O0>* {
    opacity: 1;
  }
}

.Box-group-naked-listRow-hasLeadingOrMedia-minBlockSize_56px .BottomArea-hasLeadingOrMedia:last-of-type {
  grid-column: 3 / 1;
}

.T9iBYqbERZHdwDl0U2tC .hGbRiYkIjjy4sJvor0A2>:not(.OgaF7O4ER8AvZfFd6JdJ) {
  opacity: 1;
}