$card-bg: rgba(150, 150, 150, 0.1);

.GenericModal__overlay {
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(var(--spice-rgb-shadow), 0.25);
}

.main-confirmDialog-container,
.main-trackCreditsModal-container,
.main-embedWidgetGenerator-container {
  @include modal-background;
  @include default-border;
  max-height: 85vh;
}

.main-embedWidgetGenerator-container {
  .main-trackCreditsModal-header {
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    .main-type-alto {
      font-size: 1.75rem;
    }
  }
}

.JnpOnFaQfrRIA2fYe88A,
.uJjmxe0T11dUVeW6Biz8 {
  @include modal-background;
}
.JnpOnFaQfrRIA2fYe88A {
  max-height: 70vh !important;
}

dialog {
  border: none !important;
}

.desktopmodals-aboutSpotifyModal-container {
  @include modal-background;
  @include default-border;

  .desktopmodals-aboutSpotifyModal-licensing {
    background-color: $card-bg;
  }
}

.N9tnwm0XDrt_eGJd2D2A {
  border-radius: $border-radius-md;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;

  &:has(.zZMsUUWG29PYcwWPXhOV._kfmGT75UTPoF_D2afwa) {
    @include modal-background;
  }
}

.zZMsUUWG29PYcwWPXhOV {
  border-radius: $border-radius-md;
  @include modal-background;
  background-color: transparent;

  &._kfmGT75UTPoF_D2afwa {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
  }
}

.search-modal-searchBar {
  background: $button-bg;
  border-radius: $border-radius-input;
  @include default-border;

  svg {
    fill: var(--spice-text);
  }

  input,
  .search-modal-input {
    color: var(--spice-text) !important;
  }

  &:hover {
    background: $active-bg;
  }
}
