@mixin bg-none {
  background: none;
}

@mixin bg-none-important {
  background: none !important;
}

@mixin backdrop-blur-1rem {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

@mixin border-box-shadow {
  -webkit-box-shadow: $border-box-shadow;
  box-shadow: $border-box-shadow;
}

@mixin border-box-shadow-with-radius {
  -webkit-box-shadow: $border-box-shadow;
  box-shadow: $border-box-shadow;
  border-radius: $border-radius-md;
}

@mixin default-border {
  border: $default-border;
  box-shadow: none;
}

@mixin header-backdrop-blur {
  -webkit-backdrop-filter: blur($top-bar-backdrop-blur);
  backdrop-filter: blur($top-bar-backdrop-blur);
}

@mixin default-border-with-radius {
  @include default-border;
  border-radius: $border-radius-md;
}

@mixin modal-background {
  background-color: rgba(var(--spice-rgb-main), 0.5);
  -webkit-backdrop-filter: blur(1.25rem);
  backdrop-filter: blur(1.25rem);
}

@mixin box-shadow-to-bottom {
  -webkit-box-shadow: $box-shadow-to-bottom;
  box-shadow: $box-shadow-to-bottom;
}

@mixin webkit-drag {
  -webkit-app-region: drag;
}

@mixin webkit-no-drag {
  -webkit-app-region: no-drag;
}
