// Font Stack
$font-stack: var(--body-font-to-use), SpotifyMixUI, CircularSp-Arab,
  CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
  var(--fallback-fonts, sans-serif);

// Default Border
$default-border: var(--border-thickness) var(--border-style, solid)
  var(--border-color, rgba(var(--spice-rgb-text), 0.125));
$transparent-border: var(--border-thickness) var(--border-style, solid)
  transparent;
$border-box-shadow: inset 0 0 0 var(--border-thickness)
  rgba(255, 255, 255, 0.15);

// Base Values
$base-border-radius: 0.25rem;
$base-padding: 0.25rem;
$base-margin: 0.25rem;
$base-gap: 0.25rem;
$base-font-size: 1rem;

// Border Radius
$border-radius-sm: $base-border-radius;
$border-radius-md: $base-border-radius * 2;
$border-radius-lg: $base-border-radius * 3;
$border-radius-xl: $base-border-radius * 4;
$border-radius-full: var(--border-roundedRadius, #{$base-border-radius * 100});
$border-radius-avatar: var(--border-roundedRadius, $border-radius-full);
$border-radius-button: var(--button-border-radius, $border-radius-md);
$border-radius-input: var(--input-border-radius, $border-radius-md);

// Padding
$padding-xs: $base-padding;
$padding-sm: $base-padding * 2;
$padding-md: $base-padding * 3;
$padding-lg: $base-padding * 4;
$padding-xl: $base-padding * 6;
$padding-2xl: $base-padding * 6;

// Margin
$margin-xs: $base-margin;
$margin-sm: $base-margin * 2;
$margin-md: $base-margin * 3;
$margin-lg: $base-margin * 4;
$margin-xl: $base-margin * 6;
$margin-2xl: $base-margin * 8;

// Gap
$gap-xs: $base-gap;
$gap-sm: $base-gap * 2;
$gap-md: $base-gap * 3;
$gap-lg: $base-gap * 4;
$gap-xl: $base-gap * 6;

// Font Size
$font-size-sm: $base-font-size * 0.875;
$font-size-md: $base-font-size;
$font-size-lg: $base-font-size * 1.125;
$font-size-xl: $base-font-size * 1.25;

// Background
$card-bg-color: rgba(var(--spice-rgb-sidebar), 0.25);
$global-nav-bg: none;
$home-header-bg: none;

$main-bg-color: rgba(var(--spice-rgb-main), 0.35);
$left-sidebar-bg: $card-bg-color;
$right-sidebar-bg: $card-bg-color;

// Backdrop Blur
$top-bar-bg-color: rgba(var(--spice-rgb-main), 0.25);
$top-bar-backdrop-blur: 1rem;

//
$card-backdrop-blur: 0.35rem;

//
$root-padding-bottom: var(--playbar-height, 80px);
$under-main-view-height: calc(
  var(--main-view-height, 800px) - var(--playbar-height, 80px)
);

//box shadow
$box-shadow-to-bottom: 0 0.5rem 1rem rgba(var(--spice-rgb-shadow), 0.25);

// equilizer svg
$equalizer-svg: url("data:image/svg+xml,%3Csvg id='playing-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E %23playing-icon %7B fill: %23000000; %7D@keyframes play %7B 0%25, 100%25 %7B transform: scaleY(1); %7D 20%25, 80%25 %7B transform: scaleY(0.5); %7D 40%25, 60%25 %7B transform: scaleY(0.2); %7D %7D %23bar1 %7B transform-origin: bottom; animation: play 1.5s 0s infinite ease-out; %7D %23bar2 %7B transform-origin: bottom; animation: play 1.5s 0.3s infinite ease-out; %7D %23bar3 %7B transform-origin: bottom; animation: play 1.5s 0.15s infinite ease-out; %7D %23bar4 %7B transform-origin: bottom; animation: play 1.5s 0.5s infinite ease-out; %7D %23bar5 %7B transform-origin: bottom; animation: play 1.5s 0.25s infinite ease-out; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3EPlaying Icon%3C/title%3E%3Crect id='bar1' width='2' height='24' /%3E%3Crect id='bar2' x='4' width='2' height='24' /%3E%3Crect id='bar3' x='8' width='2' height='24' /%3E%3Crect id='bar4' x='12' width='2' height='24' /%3E%3Crect id='bar5' x='16' width='2' height='24' /%3E%3C/svg%3E");
