// Font Stack
$font-stack: var(--body-font-to-use), SpotifyMixUI, CircularSp-Arab,
  CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
  var(--fallback-fonts, sans-serif);

// Default Border
$default-border: var(--border-thickness) var(--border-style, solid)
  var(--border-color, rgba(var(--spice-rgb-text), 0.125));
$transparent-border: var(--border-thickness) var(--border-style, solid)
  transparent;
$border-box-shadow: inset 0 0 0 var(--border-thickness)
  rgba(255, 255, 255, 0.15);

// Base Values
$base-border-radius: 0.25rem;
$base-padding: 0.25rem;
$base-margin: 0.25rem;
$base-gap: 0.25rem;
$base-font-size: 1rem;

// Border Radius
$border-radius-sm: $base-border-radius;
$border-radius-md: $base-border-radius * 2;
$border-radius-lg: $base-border-radius * 3;
$border-radius-xl: $base-border-radius * 4;
$border-radius-full: var(--border-roundedRadius, #{$base-border-radius * 100});
$border-radius-avatar: var(--border-roundedRadius, $border-radius-full);
$border-radius-button: var(--button-border-radius, $border-radius-md);
$border-radius-input: var(--input-border-radius, $border-radius-md);

// Padding
$padding-xs: $base-padding;
$padding-sm: $base-padding * 2;
$padding-md: $base-padding * 3;
$padding-lg: $base-padding * 4;
$padding-xl: $base-padding * 6;
$padding-2xl: $base-padding * 6;

// Margin
$margin-xs: $base-margin;
$margin-sm: $base-margin * 2;
$margin-md: $base-margin * 3;
$margin-lg: $base-margin * 4;
$margin-xl: $base-margin * 6;

// Gap
$gap-xs: $base-gap;
$gap-sm: $base-gap * 2;
$gap-md: $base-gap * 3;
$gap-lg: $base-gap * 4;
$gap-xl: $base-gap * 6;

// Font Size
$font-size-sm: $base-font-size * 0.875;
$font-size-md: $base-font-size;
$font-size-lg: $base-font-size * 1.125;
$font-size-xl: $base-font-size * 1.25;

// Background
$card-bg-color: rgba(var(--spice-rgb-sidebar), 0.25);
$global-nav-bg: none;
$home-header-bg: none;

$main-bg-color: rgba(var(--spice-rgb-main), 0.35);
$left-sidebar-bg: $card-bg-color;
$right-sidebar-bg: $card-bg-color;

// Backdrop Blur
$top-bar-bg-color: rgba(var(--spice-rgb-main), 0.25);
$top-bar-backdrop-blur: 1rem;

//
$card-backdrop-blur: 0.35rem;

//
$root-padding-bottom: var(--playbar-height, 80px);
$under-main-view-height: calc(
  var(--main-view-height, 800px) - var(--playbar-height, 80px)
);

//box shadow
$box-shadow-to-bottom: 0 0.5rem 1rem rgba(var(--spice-rgb-shadow), 0.25);
