@import "extension.css";
@import "colors.css";
@import "keyframes.css";
@import "player.css";
@import "icons.css";

:root {
  --header-filters: blur(32px) saturate(1.5) brightness(0.7);
  --default-border: var(--border-thickness, 1px) var(--border-style, solid)
    var(--border-clr, rgba(var(--clr-on-surface-rgb), 0.1));
  --hover-border: var(--border-thickness, 1px) var(--border-style, solid)
    var(--border-h-clr, rgba(var(--clr-on-surface-rgb), 0.3));

  --default-transition: all 225ms ease-in-out;

  --s-br: 4px;
  --br: 8px;
  --m-br: 12px;
  --l-br: 16px;
  --xl-br: 32px;

  --encore-border-radius-rounded: var(--m-br);
}

/* These variables are updated by extension */
/* :root {
    --encore-body-font-stack: SpotifyMixUI,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif);
    --encore-title-font-stack: SpotifyMixUITitle,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif);
    --encore-variable-font-stack: SpotifyMixUITitleVariable,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif)
} */

* {
  scrollbar-width: thin;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* ========== Platform Specific Styles ========== */
.spotify__os--is-linux {
  .Kgjmt7IX5samBYUpbkBu {
    display: none;
  }
}
.spotify__os--is-windows {
}

/* ========== Global ========== */
.Button-buttonSecondary-medium-useBrowserDefaultFocusStyle,
.ChipInnerComponent-sm-selected-isUsingKeyboard,
.ChipInnerComponent-sm-isUsingKeyboard,
.ChipInnerComponent-sm-selected,
.ChipInnerComponent-sm,
.main-card-card,
.marketplace-add-snippet-btn,
.Button-buttonSecondary-small-disabled-useBrowserDefaultFocusStyle,
.Button-buttonSecondary-small-useBrowserDefaultFocusStyle {
  border: var(--default-border);
  border-radius: var(--br);
  transition: var(--default-transition);

  &:hover {
    transform: none;
    border-radius: var(--l-br);
    border: var(--hover-border);
  }
}

.LegacyChip__LegacyChipComponent-sc-tzfq94-0:hover
  > .ChipInnerComponent-sm-selected.ChipInnerComponent-sm-selected {
  color: var(--clr-on-primary-container);
  background: var(--clr-primary-container);
}

.Button-buttonSecondary-medium-useBrowserDefaultFocusStyle:hover {
  border-radius: var(--xl-br);
}
.e-9890-button,
.e-9890-button-primary,
.Button-buttonTertiary-textSubdued-medium-useBrowserDefaultFocusStyle {
  transform: none;

  &:focus,
  &:hover {
    outline: none !important;
    transform: none;
  }

  .e-9890-button-primary__inner {
    border-radius: var(--br);
    transition: var(--default-transition);
    &:hover {
      border-radius: var(--xl-br) !important;
    }
  }
}

.main-trackCreditsModal-closeBtn,
.mKUj4tXOjumlcv0q9Qta /* Artist Modal - Close Button */,
.qyKJPLjz8o4jnbk92JOn /* Artist Modal - Carrousel Button */ {
  border-radius: var(--br);
  background-color: rgba(var(--clr-surface-1-rgb), 0.1);
  color: var(--clr-on-surface);
  transition: var(--default-transition);
  border: var(--default-border);
  transform: none;

  &:focus,
  &:hover {
    transform: none;
    cursor: pointer;
    border: var(--hover-border);
    background-color: rgba(var(--clr-surface-1-rgb), 0.2);
  }
}
.main-trackCreditsModal-closeBtn {
  display: flex;
  height: 36px;
  width: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;

  &:hover {
    border: var(--hover-border);
    border-radius: var(--m-br);
    background-color: rgba(var(--clr-on-primary-rgb), 0.15);
  }
}
.settings-open .main-trackCreditsModal-closeBtn {
  display: none;
}

.main-dropDown-dropDown {
  background-color: var(--background-elevated-highlight);
  border: var(--default-border);
  transition: var(--default-transition);
  border-radius: var(--br);
  appearance: none;
  padding-right: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.94 2.073l5.521 6.31a1.75 1.75 0 0 0 2.634 0l5.522-6.31c.707-.808.133-2.073-.94-2.073H6.101Z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;

  &:hover,
  &:active {
    border: var(--hover-border);
    background-color: var(--clr-surface);
  }
}

/* ========== Marketplace ========== */
.button-module__button___hf2qg_marketplace,
.marketplace-add-snippet-btn,
.marketplace-content button {
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
  transition: var(--default-transition);

  &:hover {
    background-color: var(--clr-on-primary);
    color: var(--clr-primary);
  }
}
.main-gridContainer-gridContainer {
  gap: 8px;
}

/* ========== Scrollbar ========== */
.os-scrollbar,
.os-theme-spotify.os-scrollbar {
  --os-size: 0.35rem;
  --os-handle-border-radius: var(--m-br);

  --os-handle-bg: rgba(var(--clr-on-surface-rgb), 0.25);
  --os-handle-bg-hover: rgba(var(--clr-on-surface-rgb), 0.5);
  --os-handle-bg-active: rgba(var(--clr-on-surface-rgb), 0.75);
}

/* ========== Resizer ========== */

.LayoutResizer__resize-bar:after {
  border-radius: var(--br);
}
.LayoutResizer__resize-bar--resizing.LayoutResizer__inline-end:after,
.LayoutResizer__resize-bar--resizing.LayoutResizer__inline-start:after {
  background-color: var(--clr-on-surface);
}
/* ========== Root Main Cards ========== */
#Desktop_LeftSidebar_Id,
#Desktop_PanelContainer_Id,
.NowPlayingView,
.Root__nav-bar,
.Root__main-view {
  background: var(--main-bg);
  border: var(--default-border);
  border-radius: 16px;
}

/* ========== Context Menu ========== */
.wlb3dYO07PZuYfmNfmkS,
.main-contextMenu-menu {
  scrollbar-width: thin;
  background: var(--background-base);
  border-radius: 0.75rem;
  border: var(--default-border);

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    -webkit-backdrop-filter: blur(22px) saturate(1.5);
    backdrop-filter: blur(22px) saturate(1.5);
  }
  .niXChlbt7kxslMUdfwu9,
  .main-contextMenu-menuItemButton {
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    height: fit-content;
  }
}
.main-contextMenu-tippy,
.main-contextMenu-tippyEnterActive {
  background: var(--background-base);
  backdrop-filter: blur(16px) saturate(1.5);
  border: var(--default-border);
  border-radius: var(--m-br);
}

/* ========== Notification ========== */
.notistack-SnackbarContainer {
  bottom: var(--npb-height, 80px);
  z-index: 9999;
  .encore-internal-color-text-base {
    color: var(--clr-on-surface) !important;
  }

  .notistack-Snackbar {
    & > div[role="alert"] {
      background-color: rgba(var(--clr-on-error-rgb), 0.5);
      color: var(--clr-error);
    }
    & > div {
      background-color: rgba(var(--clr-primary-rgb), 0.125);
      border-radius: 0.75rem;
      border: var(--default-border);
      transition: backdrop-filter 225ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);

      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        border-radius: inherit;
        z-index: -1;
        opacity: inherit;
        -webkit-backdrop-filter: blur(16px) saturate(1.5);
        backdrop-filter: blur(16px) saturate(1.5);
      }
    }
  }
}

/* ========== Global Nav ========== */
.Root__globalNav {
  .main-topBar-searchBar {
    box-shadow: none !important;
  }
  .main-globalNav-navLink {
    min-width: 52px;
  }

  .GimJ6fo6WOYPyWNVpSr1,
  .main-topBar-searchBar,
  .main-globalNav-navLink,
  .main-globalNav-navLinkActive {
    transition: var(--default-transition);
    border: var(--default-border);
    border-radius: var(--br);
    height: 52px;

    &:hover {
      border: var(--hover-border);
      border-radius: var(--l-br);
      transform: scale(0.98);
    }
  }
  .GimJ6fo6WOYPyWNVpSr1:hover,
  .main-topBar-searchBar:hover {
    transform: scale(1) !important;
  }
  form:hover .main-topBar-searchBar {
    border: var(--hover-border);
    border-radius: var(--l-br);
  }

  .IYex0sXu8fnCz1FqFbRe {
    background: none;
  }

  .GimJ6fo6WOYPyWNVpSr1 /* Search Hover / Recent Search Card */ {
    transition-duration: -1s;
    backdrop-filter: blur(32px);
    background-color: var(--background-base);
    border-radius: var(--m-br);
  }

  .main-userWidget-box {
    border-radius: var(--m-br);
    border: var(--default-border);

    .main-image-image {
      border-radius: var(--br);
    }

    &:hover {
      border: var(--hover-border);
    }
  }

  .main-avatar-avatar {
    margin: 0px !important;
    border-radius: var(--br);
  }
}

/* ========== Main Home ========== */
.cZrkCxXnCc7KLZqAqWoz .main-home-content
  .xOmT3apmEbwVlFt4HkBe /* IDK: But this fixes the second section cutoff */ {
  --carousel-shelf-min-items: 6;
}
.main-home-homeHeader {
  height: 40vh;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hide-home-header .main-home-homeHeader {
  display: none;
}

.JYoTSXH6KEr_MIwisdZi,
.e9iXRrRXf6MAlkmd8J0s {
  --shelf-fixed-max-height: calc(var(--shelf-fixed-height) + 4px);

  &:after {
    content: none;
    display: none;
  }
}

.main-shelf-shelfGrid,
.search-searchCategory-categoryGrid > .qI009QzTkvisAXqhbw74 {
  gap: 4px;
  margin-inline: -6px !important;
}

.main-trackList-trackList {
  border: var(--default-border);
  border-radius: var(--m-br);
  padding: 4px;
  background-color: var(--main-bg);

  &.main-trackList-indexable .main-trackList-trackListRow {
    padding: 0 24px 0 32px;
  }
}

.main-trackList-trackListHeader {
  padding: 0 calc(var(--content-spacing) + 12px);
  margin: 0 calc((var(--content-spacing) * -1) - 6px)
    calc(var(--content-spacing) - 12px);

  .main-trackList-rowSectionIndex,
  .main-trackList-rowSectionStart {
    margin-left: 12px;
  }
}

div.main-trackList-trackListRow {
  border-radius: var(--br);
}

/* ========== Carrousel Shadow ========== */
.a2NTH51fJWzWsds0OYv_ {
  -webkit-mask-image: var(--mask-gradient);
  mask-image: var(--mask-gradient);
  transition: mask-image 0.3s ease;

  &:before,
  &:after {
    background: none;
  }
}
.U8wi3gXSb248Imbxy4gc /* Left to Right Fade */ {
  --mask-gradient: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.Yjx8QrpjqgjqQPj4KWCh /* Right to Left Fade */ {
  --mask-gradient: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.U8wi3gXSb248Imbxy4gc.Yjx8QrpjqgjqQPj4KWCh /* Center Black with Radial Fade */ {
  --mask-gradient: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 25%,
    rgba(0, 0, 0, 0.8) 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

.Box-group-naked-card-md-isInteractive-draggable {
  height: calc(100% - 1px);
}

.JYoTSXH6KEr_MIwisdZi,
.e9iXRrRXf6MAlkmd8J0s,
.main-card-cardContainer {
  border: var(--default-border);
  border-radius: var(--m-br);
  background-color: rgba(var(--clr-surface-rgb), 0.3);
  transition: all 0.3s ease;
  /* width: 100%; */

  &:hover {
    background-color: rgba(var(--clr-surface-1-rgb), 0.3);
    border: var(--hover-border);
  }
}

/* ========== Action bar bg ========== */
.Bdcf5g__Rug3TGqSdbiy /* Album - Action bar */,
.main-actionBarBackground-background {
  border-top: var(--default-border);
  background: none !important;
}

/* ========== Top bar ========== */
.main-topBar-overlay {
  display: none;
}

.main-topBar-background,
.search-searchCategory-SearchCategory,
.main-home-filterChipsSection,
.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
  background-color: var(--background-highlight) !important;
  background-image: var(--blur-grain) !important;
  -webkit-backdrop-filter: var(--header-filters);
  backdrop-filter: var(--header-filters);
  border-bottom: var(--default-border);

  &:after {
    display: none;
  }
}

/* ========== Search card ========== */
.main-gridContainer-gridContainer {
  .IGCDq9qa08JVVY3mcy7Y {
    --accent-color: var(--clr-primary); /* fallback */
    padding: 4px;
  }

  .Vn9yz8P5MjIvDT8c0U6w {
    border: var(--default-border);
    border-color: transparent;
    transition: all 0.3s ease;
    &:hover {
      border: var(--hover-border);
    }

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      opacity: 1;
      background: linear-gradient(120deg, transparent, var(--clr-surface));
    }

    .WDC2Yzs811n7JCYtYQzc {
      box-shadow: 0px 0px 3rem 8px rgba(var(--accent-color), 0.5);
      transform: scale(1) rotate(25deg) translate(18%, -2%);
      transition: transform 225ms ease-in-out;
    }

    &:hover .WDC2Yzs811n7JCYtYQzc {
      transform: scale(1.1) rotate(15deg) translate(15%, 0%);
    }
  }
}

/* ========== Left Sidebar ========== */
[data-right-sidebar-hidden="true"] .TkqXOzhmCCuE6YI3hlgA.Root__nav-bar,
[data-right-sidebar-hidden="true"] .TkqXOzhmCCuE6YI3hlgA /* Fullscreen */ {
  backdrop-filter: blur(32px) brightness(0.7);

  &
    .Zwr4MoUVImDin82vBn4y /* Parent of .BoxComponent-group-listRow-naked-isInteractive-minBlockSize_56px-padding_8px */ {
    background-color: transparent !important;
  }
}

.znVZUymLCaOkuN62U7Sf {
  background-color: rgba(var(--clr-on-surface-variant-rgb), 0.1);
}
.UsP6uSRooAI9fdTmoQ7C > /* New Recent Context menu*/ :not(:last-child):after {
  display: none;
  content: none;
}

/* ========== Right Sidebar ========== */
.main-nowPlayingView-section {
  border: var(--default-border);
  border-radius: var(--m-br);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--background-elevated-highlight);
    border: var(--hover-border);
  }
}

.W3E0IT3_STcazjTeyOJa /* Header */ {
  position: absolute;
  height: 4rem;
  width: 100%;
  z-index: 1;

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    transition: backdrop-filter 0.3s linear, opacity 0.3s linear;
  }
}
.mdMUqcSHFw1lZIcYEblu /* Header - box shadow */ {
  background-color: var(--background-base);
  &:before {
    backdrop-filter: blur(2rem) saturate(1.5) brightness(0.75);
  }
}

.cZCuJDjrGA2QMXja_Sua /* Content Wrapper */ {
  padding-top: 4rem;
}

.OemaZktMXaRcYQ5bcfLZ /* Friend Activity - Card Wrapper */ {
  gap: 16px;
}
.pIxPdfuNasUDLbEDmuK_ /* Friend Activity - Jam Card */ {
  background-color: var(--background-base);
  border: var(--default-border);
}

.jGcEaPyhr1c_janM2uRF /* Friend Activity - Card */ {
  background-color: var(--background-base);
  padding: 8px 12px;
  border: var(--default-border);
  border-radius: var(--m-br);
}

.vfrdRkOiUHFQZ8YxDEyK /* New fullscreen bg */ {
  opacity: 0.2;
  backdrop-filter: blur(1rem);
}

.QgD5n5t4yCMPYSrZ9Ecl /* Home card to left transition */ {
  --x: calc(var(--container-width, 100vw) * -1);
  transform: translate3d(var(--x), 0, 0);
}

/* ========== Modals ========== */
.GenericModal__overlay {
  background-color: rgba(var(--clr-shadow-rgb), 0.5);
}

.floating.main-embedWidgetGenerator-container {
  box-shadow: 4px 4px 32px 2px var(--clr-shadow);
}

.aOxbsZDBlepfQptv_EfI,
dialog .main-trackCreditsModal-container,
.t1hN4Ju87afc5N5fDTnm /* clear cache modal */,
.NiqTdDnFi5KAXoGukrdo /* artist modal dialog */,
.main-embedWidgetGenerator-container {
  background-color: rgba(var(--clr-surface-rgb), 0.7);
  backdrop-filter: blur(32px);
  border: var(--default-border);
  border-radius: var(--l-br);
  max-height: 80vh;
}
dialog[aria-describedby="clear-cache-dialog-heading"] {
  animation: none !important;
  transition: var(--default-transition) !important;
  &[open] {
    opacity: 1;
  }
}

.main-trackCreditsModal-mainSection {
  padding: 8px 12px 0 16px;
}

.main-trackCreditsModal-originalCredits {
  padding-bottom: 8px;
}

.main-trackCreditsModal-header {
  padding: 8px 16px;
  align-items: center;
}

.main-trackCreditsModal-creditsGroup,
.main-trackCreditsModal-sectionTitle,
.main-trackCreditsModal-originalCredits > p {
  padding: 6px 8px;
  margin: 4px 0;
  border: var(--default-border);
  border-radius: var(--br);
  background-color: rgba(var(--clr-secondary-container-rgb), 0.5);
  color: var(--clr-on-secondary-container) !important;
}

.main-trackCreditsModal-container h1,
.main-type-alto {
  font-family: var(--encore-title-font-stack);
  font-size: 1.5rem;
}

/* ==========  Artist Modal ========== */
.uJjmxe0T11dUVeW6Biz8 /* Image container */ {
  background-color: rgba(var(--clr-surface-rgb), 0.75) !important;
  border-bottom: var(--default-border);
}
.T_AmQPlZ6wvE819I7A0D /* left cards */ {
  margin-bottom: -8px;
}

.iPbZsbl5dAihNIDVwijL {
  display: flex;
  justify-content: center;
  padding: 2rem 16px;
}

.zQy0G59IX5G4Cc9AtWRT,
.TkEnV1bItcSb11Yb8h7h /* Follower Count Card */,
.NPv26QCDgdnwsPOlYJmQ /* Places */ {
  height: fit-content;
  padding: 12px 12px;
  margin: 2px 0;
  background-color: rgba(var(--clr-secondary-container-rgb), 0.5);
  border-radius: var(--m-br);
  min-width: 10rem;
  border: var(--default-border);
  transition: var(--default-transition);

  &:hover {
    border: var(--hover-border);
  }

  .encore-text-title-medium {
    font-size: 1.5rem;
    color: var(--clr-on-surface-1);
  }

  div,
  div:last-child {
    color: var(--clr-on-secondary-container);
  }
}

.zQy0G59IX5G4Cc9AtWRT,
.TkEnV1bItcSb11Yb8h7h /* Follower Count Card */ {
  background-color: rgba(var(--clr-tertiary-container-rgb), 0.5);
  color: var(--clr-on-tertiary-container);

  div {
    color: var(--clr-on-tertiary-container) !important;
  }
}

.TV2j1oIRIkKH_6D1xP82 /* Main Card */ {
  margin: 0px 8px;
  padding: 12px 16px;
  border-radius: var(--m-br);
  border: var(--default-border);
  background-color: rgba(var(--clr-surface-2-rgb), 0.5);
  height: fit-content;
  transition: all 0.3s ease;

  &:hover {
    border: var(--hover-border);
  }
}

/* Top in the world card */
.tLjX9htIKD_OCmEX01UN,
.T_AmQPlZ6wvE819I7A0D .tLjX9htIKD_OCmEX01UN {
  width: 10rem;
  height: 4rem;
  margin: 0 0 4px;
  padding: 12px;
  border-radius: var(--m-br);
  background-color: rgba(var(--clr-primary-container-rgb), 0.9);
  border: var(--default-border);
  transition: all 0.3s ease;

  &:hover {
    border: var(--hover-border);
  }

  div {
    line-height: 8px;
    position: relative;
    color: var(--clr-on-primary-container);
  }
  div:first-child {
    top: 8px;
  }
  div:last-child {
    top: 1.25rem;
  }
}

.OyLgnahIHw63684ABRBF /* Avatar card (Posted by) */ {
  margin-top: 16px;
  background-color: rgba(var(--clr-surface-3-rgb), 0.5);
  width: fit-content;
  padding: 4px 16px 4px 8px;
  border-radius: var(--m-br);
  border: var(--default-border);
  transition: var(--default-transition);

  &:hover {
    border: var(--hover-border);
    background-color: rgba(var(--clr-surface-4-rgb), 0.5);
  }
}
.main-avatar-avatar.KguYS3oppxDrMNpTUJcB img,
.main-avatar-placeholderWrapper {
  border-radius: var(--br);
}

.DVWIV41y6daOMjQKR8Zj /* Links */ {
  margin-top: 0;
}
.DVWIV41y6daOMjQKR8Zj a {
  margin-top: 4px;
  padding: 12px 8px;
  background-color: rgba(var(--clr-tertiary-container-rgb), 0.5);
  color: var(--clr-on-tertiary-container);
  border-radius: var(--m-br);
  border: var(--default-border);
  text-decoration: none !important;

  &:hover {
    border: var(--hover-border);
  }
}
