:root {
  --main-bg: rgba(var(--clr-surface-rgb), var(--main-bg-alpha));
}

:root[theme="dark"] {
  --main-bg-alpha: 0.3;
  --clr-bg-alpha: 0.45;
}

:root[theme="light"] {
  --main-bg-alpha: 0.7;
  --clr-bg-alpha: 0.8;
}

.encore-dark-theme,
.encore-light-theme,
.encore-light-theme .encore-base-set,
.encore-dark-theme .encore-base-set {
  --background-base: rgba(
    var(--clr-surface-rgb),
    var(--clr-bg-alpha)
  ) !important;
  --background-highlight: rgba(
    var(--clr-surface-1-rgb),
    var(--clr-bg-alpha)
  ) !important;
  --background-press: rgba(
    var(--clr-surface-rgb),
    var(--clr-bg-alpha)
  ) !important;
  --background-elevated-base: rgba(
    var(--clr-surface-1-rgb),
    var(--clr-bg-alpha)
  ) !important;
  --background-elevated-highlight: rgba(
    var(--clr-surface-2-rgb),
    var(--clr-bg-alpha)
  ) !important;
  --background-elevated-press: rgba(
    var(--clr-surface-3-rgb),
    var(--clr-bg-alpha)
  ) !important;

  --background-tinted-base: #ffffff1a !important;
  --background-tinted-highlight: #ffffff24 !important;
  --background-tinted-press: #ffffff36 !important;
  --text-base: var(--clr-on-surface) !important;
  --text-subdued: var(--clr-on-surface-variant) !important;
  --text-bright-accent: var(--clr-primary) !important;
  --text-negative: #f3727f !important;
  --text-warning: #ffa42b !important;
  --text-positive: var(--clr-primary) !important;
  --text-announcement: #4cb3ff !important;
  --essential-base: #fff !important;
  --essential-subdued: #7c7c7c !important;
  --essential-bright-accent: var(--clr-primary) !important;
  --essential-negative: #ed2c3f !important;
  --essential-warning: #ffa42b !important;
  --essential-positive: var(--clr-primary) !important;
  --essential-announcement: #4cb3ff !important;
  --decorative-base: #fff !important;
  --decorative-subdued: var(--clr-background) !important;
}
.encore-dark-theme .encore-inverted-light-set,
.encore-dark-theme .encore-bright-accent-set {
  --background-base: var(--clr-primary) !important;
  --background-highlight: var(--clr-on-primary) !important;
  --background-press: var(--clr-inverse-primary) !important;
  --background-elevated-base: var(--clr-on-primary) !important;
  --background-elevated-highlight: var(--clr-on-primary) !important;
  --background-elevated-press: var(--clr-inverse-primary) !important;
  --background-tinted-base: var(--clr-primary) !important;
  --background-tinted-highlight: var(--clr-primary) !important;
  --background-tinted-press: var(--clr-primary) !important;
  --text-base: var(--clr-on-primary) !important;
  --text-subdued: var(--clr-primary) !important;
  --text-bright-accent: var(--clr-on-primary) !important;
  --text-negative: #000 !important;
  --text-warning: #000 !important;
  --text-positive: #000 !important;
  --text-announcement: #000 !important;
  --essential-base: #000 !important;
  --essential-subdued: #000 !important;
  --essential-bright-accent: #000 !important;
  --essential-negative: #000 !important;
  --essential-warning: #000 !important;
  --essential-positive: #000 !important;
  --essential-announcement: #000 !important;
  --decorative-base: #000 !important;
  --decorative-subdued: var(--clr-inverse-primary);
}

:root {
  --spice-button: var(--clr-primary);
  --spice-highlight-elevated: var(--clr-surface-2);
  --spice-button-disabled: var(--clr-surface-4);
  --spice-button-active: var(--clr-primary-container);
  --spice-misc: var(--clr-on-surface-variant) !important;
  --spice-subtext: var(--clr-on-surface-variant) !important;
  --spice-tab-active: var(--clr-surface-2) !important;
  --spice-notification-error: var(--clr-error-container) !important;
  --spice-player: var(--clr-surface) !important;
  --spice-shadow: var(--clr-surface) !important;
  --spice-notification: var(--clr-tertiary) !important;
  --spice-card: var(--clr-surface-1) !important;
  --spice-selected-row: var(--clr-on-surface) !important;
  --spice-text: var(--clr-on-surface) !important;
  --spice-main-elevated: var(--clr-surface-1) !important;
  --spice-highlight: var(--clr-surface-2) !important;
  --spice-main: var(--clr-surface) !important;
  --spice-sidebar: var(--clr-surface) !important;

  --spice-rgb-button: 29, 185, 84;
  --spice-rgb-highlight-elevated: 42, 42, 42;
  --spice-rgb-button-disabled: 83, 83, 83;
  --spice-rgb-button-active: 30, 215, 96;
  --spice-rgb-misc: 127, 127, 127;
  --spice-rgb-subtext: 179, 179, 179;
  --spice-rgb-tab-active: 51, 51, 51;
  --spice-rgb-notification-error: 226, 33, 52;
  --spice-rgb-player: 24, 24, 24;
  --spice-rgb-shadow: 0, 0, 0;
  --spice-rgb-notification: 70, 135, 214;
  --spice-rgb-card: 40, 40, 40;
  --spice-rgb-selected-row: 255, 255, 255;
  --spice-rgb-text: 255, 255, 255;
  --spice-rgb-main-elevated: 36, 36, 36;
  --spice-rgb-highlight: 26, 26, 26;
  --spice-rgb-main: 18, 18, 18;
  --spice-rgb-sidebar: 0, 0, 0;
}

.e-9890-text,
.main-trackInfo-name,
a:not([data-encore-id]) {
  color: var(--text-base);
}

.IkRGajTjItEFQkRMeH6v {
  --text-subdued: var(--clr-on-surface-variant);
}

.main-contextMenu-menuItemButton:hover,
.main-contextMenu-menuItemButton {
  color: var(--clr-on-surface);
}

.main-contextMenu-menuItemButton.egE6UQjF_UUoCzvMxREj {
  color: rgba(var(--clr-on-surface-rgb), 0.5);
}
.e-9890-button-primary {
  .e-9890-button-primary__inner {
    transition: all 225ms ease-in;
  }

  &:hover .e-9890-button-primary__inner {
    color: var(--clr-primary);
    background-color: var(--clr-on-primary);
  }
}
.main-genericButton-button.main-genericButton-buttonActive {
  color: var(--clr-primary);
}

.main-genericButton-button.main-genericButton-buttonActiveDot:after {
  background-color: var(--clr-primary);
}

.progress-bar {
  --bg-color: rgba(var(--clr-on-secondary-container-rgb), 0.2);
  --mg-color: rgba(var(--clr-on-primary-container-rgb), 0.7);
  --fg-color: var(--clr-on-secondary-container);
  --is-active-fg-color: var(--clr-primary);
}

:root,
body,
#Root,
main,
.Root__top-container,
.Root__globalNav {
  background-color: rgba(0, 0, 0, 0);
}

.CvxzmyND_aGd2RR8ZoSr /* Right Sidebar - About Artist section */,
.k90FaSa2GhsINq5izwhz,
.N_8iI7NKHP0iG2jp3g0R /* Genre */,
.main-nowPlayingView-contextItemInfo:before,
#Desktop_PanelContainer_Id:before,
.ffFwfKcPDbmAPLXzxzKq:before,
.main-yourLibraryX-entryPoints,
.main-yourLibraryX-libraryContainer,
.playlist-playlist-playlistContent {
  background: transparent;
}
/* 
main.T0fKO6B7LQSCE_VaSM1P > section {
  background-color: var(--background-base);
} */

.XVz4BMGP5zAEE5p90mYK,
.main-entityHeader-backgroundColor {
  display: none;
}

/* ========== Toggle ========== */
.x-toggle-indicatorWrapper {
  background-color: rgba(var(--clr-on-primary-container-rgb), 0.1);
}

input:hover:not([disabled], :active) ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-surface-4);
}

input:checked:hover:not([disabled], :active) ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-primary);
}

input:checked ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-on-primary-container);
}

input:checked ~ .x-toggle-indicatorWrapper .x-toggle-indicator {
  background-color: var(--clr-primary-container);
}

/* Custom Btn colors */
.lucid-button {
  &.discord:hover,
  &.discord:focus {
    background-color: #5865f2 !important;
    color: #e0e0d8 !important;
  }

  &.github:hover,
  &.github:focus {
    color: #2a313c !important;
    background-color: #f0f6fc !important;
  }

  &.primary {
    background-color: var(--clr-primary-container);
    color: var(--clr-on-primary-container);
    &:hover {
      background-color: var(--clr-on-primary-container);
      color: var(--clr-primary-container);
    }
  }
  &.danger {
    background-color: var(--clr-error-container);
    color: var(--clr-on-error-container);
    &:hover {
      background-color: var(--clr-on-error-container);
      color: var(--clr-error-container);
    }
  }
}
