:root {
  --main-bg: rgba(var(--clr-surface-rgb), var(--main-bg-alpha));
}

:root[theme="dark"] {
  --main-bg-alpha: 0.3;
  --clr-bg-alpha: 0.45;
}

:root[theme="light"] {
  --main-bg-alpha: 0.7;
  --clr-bg-alpha: 0.8;
}

.encore-dark-theme,
.encore-light-theme,
.encore-light-theme .encore-base-set,
.encore-dark-theme .encore-base-set {
  --background-base: rgba(var(--clr-surface-rgb), var(--clr-bg-alpha));
  --background-highlight: rgba(var(--clr-surface-1-rgb), var(--clr-bg-alpha));
  --background-press: rgba(var(--clr-surface-rgb), var(--clr-bg-alpha));
  --background-elevated-base: rgba(
    var(--clr-surface-1-rgb),
    var(--clr-bg-alpha)
  );
  --background-elevated-highlight: rgba(
    var(--clr-surface-2-rgb),
    var(--clr-bg-alpha)
  );
  --background-elevated-press: rgba(
    var(--clr-surface-3-rgb),
    var(--clr-bg-alpha)
  );

  --background-tinted-base: #ffffff1a;
  --background-tinted-highlight: #ffffff24;
  --background-tinted-press: #ffffff36;
  --text-base: var(--clr-on-surface);
  --text-subdued: var(--clr-on-surface-variant);
  --text-bright-accent: var(--clr-primary);
  --text-negative: #f3727f;
  --text-warning: #ffa42b;
  --text-positive: var(--clr-primary);
  --text-announcement: #4cb3ff;
  --essential-base: #fff;
  --essential-subdued: #7c7c7c;
  --essential-bright-accent: var(--clr-primary);
  --essential-negative: #ed2c3f;
  --essential-warning: #ffa42b;
  --essential-positive: var(--clr-primary);
  --essential-announcement: #4cb3ff;
  --decorative-base: #fff;
  --decorative-subdued: var(--clr-background);
}
.encore-dark-theme .encore-inverted-light-set,
.encore-dark-theme .encore-bright-accent-set {
  --background-base: var(--clr-primary);
  --background-highlight: var(--clr-on-primary);
  --background-press: var(--clr-inverse-primary);
  --background-elevated-base: var(--clr-on-primary);
  --background-elevated-highlight: var(--clr-on-primary);
  --background-elevated-press: var(--clr-inverse-primary);
  --background-tinted-base: var(--clr-primary);
  --background-tinted-highlight: var(--clr-primary);
  --background-tinted-press: var(--clr-primary);
  --text-base: var(--clr-on-primary);
  --text-subdued: var(--clr-primary);
  --text-bright-accent: var(--clr-on-primary);
  --text-negative: #000;
  --text-warning: #000;
  --text-positive: #000;
  --text-announcement: #000;
  --essential-base: #000;
  --essential-subdued: #000;
  --essential-bright-accent: #000;
  --essential-negative: #000;
  --essential-warning: #000;
  --essential-positive: #000;
  --essential-announcement: #000;
  --decorative-base: #000;
  --decorative-subdued: var(--clr-inverse-primary);
}

:root {
  --spice-button: var(--clr-primary);
  --spice-highlight-elevated: var(--clr-surface-2);
  --spice-button-disabled: var(--clr-surface-4);
  --spice-button-active: var(--clr-primary-container);
  --spice-misc: var(--clr-on-surface-variant);
  --spice-subtext: var(--clr-on-surface-variant);
  --spice-tab-active: var(--clr-surface-2);
  --spice-notification-error: var(--clr-error-container);
  --spice-player: rgba(var(--clr-surface-rgb), 0.5);
  --spice-shadow: rgba(var(--clr-surface-rgb), 0.5);
  --spice-notification: var(--clr-tertiary);
  --spice-card: rgba(var(--clr-surface-1-rgb), 0.5);
  --spice-selected-row: var(--clr-on-surface);
  --spice-text: var(--clr-on-surface);
  --spice-main-elevated: var(--clr-surface-1);
  --spice-highlight: var(--clr-surface-2);
  --spice-main: rgba(var(--clr-surface-rgb), 0.5);
  --spice-sidebar: var(--clr-surface);

  --spice-rgb-button: var(--clr-primary-rgb);
  --spice-rgb-highlight-elevated: var(--clr-surface-2-rgb);
  --spice-rgb-button-disabled: var(--clr-surface-4-rgb);
  --spice-rgb-button-active: var(--clr-primary-container-rgb);
  --spice-rgb-misc: var(--clr-on-surface-variant-rgb);
  --spice-rgb-subtext: var(--clr-on-surface-variant-rgb);
  --spice-rgb-tab-active: var(--clr-surface-2-rgb);
  --spice-rgb-notification-error: var(--clr-error-container-rgb);
  --spice-rgb-player: var(--clr-surface-rgb);
  --spice-rgb-shadow: var(--clr-surface-rgb);
  --spice-rgb-notification: var(--clr-tertiary-rgb);
  --spice-rgb-card: var(--clr-surface-1-rgb);
  --spice-rgb-selected-row: var(--clr-on-surface-rgb);
  --spice-rgb-text: var(--clr-on-surface-rgb);
  --spice-rgb-main-elevated: var(--clr-surface-1-rgb);
  --spice-rgb-highlight: var(--clr-surface-2-rgb);
  --spice-rgb-main: var(--clr-surface-rgb);
  --spice-rgb-sidebar: var(--clr-surface-rgb);
}

.e-9890-text,
.main-trackInfo-name,
a:not([data-encore-id]) {
  color: var(--text-base);
}

.IkRGajTjItEFQkRMeH6v {
  --text-subdued: var(--clr-on-surface-variant);
}

.main-contextMenu-menuItemButton:hover,
.main-contextMenu-menuItemButton {
  color: var(--clr-on-surface);
}

.main-contextMenu-menuItemButton.egE6UQjF_UUoCzvMxREj {
  color: rgba(var(--clr-on-surface-rgb), 0.5);
}
.e-9890-button-primary {
  .e-9890-button-primary__inner {
    transition: all 225ms ease-in;
  }

  &:hover .e-9890-button-primary__inner {
    color: var(--clr-primary);
    background-color: var(--clr-on-primary);
  }
}
.main-genericButton-button.main-genericButton-buttonActive {
  color: var(--clr-primary);
}

.main-genericButton-button.main-genericButton-buttonActiveDot:after {
  background-color: var(--clr-primary);
}

.progress-bar {
  --bg-color: rgba(var(--clr-on-secondary-container-rgb), 0.2);
  --mg-color: rgba(var(--clr-on-primary-container-rgb), 0.7);
  --fg-color: var(--clr-on-secondary-container);
  --is-active-fg-color: var(--clr-primary);
}

:root,
body,
#Root,
main,
.Root__top-container,
.Root__globalNav {
  background-color: rgba(0, 0, 0, 0);
}

.CvxzmyND_aGd2RR8ZoSr /* Right Sidebar - About Artist section */,
.k90FaSa2GhsINq5izwhz,
.N_8iI7NKHP0iG2jp3g0R /* Genre */,
.main-nowPlayingView-contextItemInfo:before,
#Desktop_PanelContainer_Id:before,
.ffFwfKcPDbmAPLXzxzKq:before,
.main-yourLibraryX-entryPoints,
.main-yourLibraryX-libraryContainer,
.playlist-playlist-playlistContent {
  background: transparent;
}
/* 
main.T0fKO6B7LQSCE_VaSM1P > section {
  background-color: var(--background-base);
} */

.XVz4BMGP5zAEE5p90mYK,
.main-entityHeader-backgroundColor {
  display: none;
}

/* ========== Toggle ========== */
.x-toggle-indicatorWrapper {
  background-color: rgba(var(--clr-on-primary-container-rgb), 0.1);
}

input:hover:not([disabled], :active) ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-surface-4);
}

input:checked:hover:not([disabled], :active) ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-primary);
}

input:checked ~ .x-toggle-indicatorWrapper {
  background-color: var(--clr-on-primary-container);
}

input:checked ~ .x-toggle-indicatorWrapper .x-toggle-indicator {
  background-color: var(--clr-primary-container);
}

/* Custom Btn colors */
.lucid-button {
  &.discord:hover,
  &.discord:focus {
    background-color: #5865f2;
    color: #e0e0d8;
  }

  &.github:hover,
  &.github:focus {
    color: #2a313c;
    background-color: #f0f6fc;
  }

  &.primary {
    background-color: var(--clr-primary-container);
    color: var(--clr-on-primary-container);
    &:hover {
      background-color: var(--clr-on-primary-container);
      color: var(--clr-primary-container);
    }
  }
  &.danger {
    background-color: var(--clr-error-container);
    color: var(--clr-on-error-container);
    &:hover {
      background-color: var(--clr-on-error-container);
      color: var(--clr-error-container);
    }
  }
}
