@import "ui/dropdown.css";

:root {
  --rs-top-offset: var(--global-nav-height, 50px);
  --lib-top-offset: var(--global-nav-height, 50px);

  --hover-target-z-index: 4;
  --above-main-z-index: 5;
}
body {
  & * {
    --main-view-display-height: calc(var(--main-view-height) - var(--panel-gap));
    --x-hover-target-top: calc(var(--lib-top-offset, 64px) + (var(--panel-gap) * 2));
    --x-hover-target-height: var(--main-view-height);
  }

  &.global-nav-floating * {
    --x-hover-target-top: calc(var(--lib-top-offset, 64px) + (var(--panel-gap) * 3));
  }

  &.global-nav-floating.global-nav-auto-hide * {
    --x-hover-target-top: var(--panel-gap) !important;
    --main-view-display-height: var(--main-view-height);
  }

  &.player-floating * {
    --main-view-display-height: calc(
      var(--main-view-height) -
      var(--player-height) -
      (var(--panel-gap) * 2)
    );
  }

  &.global-nav-floating.player-floating * {
    --x-hover-target-top: calc(var(--lib-top-offset, 64px) + (var(--panel-gap) * 3.5));
    --main-view-display-height: calc(
      var(--main-view-height) -
      var(--player-height) -
      var(--global-nav-height) -
      var(--panel-gap)
    );
  }

  &.player-floating.player-auto-hide * {
    --main-view-display-height: calc(
      var(--main-view-height) -
      var(--global-nav-height) +
      (var(--panel-gap) * 2)
    );
  }

  &.player-floating.player-auto-hide.global-nav-floating * {
    --main-view-display-height: calc(var(--main-view-height) - var(--global-nav-height));
  }

  &.player-floating.player-auto-hide.global-nav-floating.global-nav-auto-hide * {
    --main-view-display-height: calc(var(--main-view-height) + var(--panel-gap));
  }
}

/* ========== Floating Right Sidebar ========== */
.right-sidebar-auto-hide {
  .Root__main-view {
    grid-column-end: right-sidebar !important;
  }

  .QdB2YtfEq0ks5O4QbtwX.FWlHsHhD0hSw1ldIXnOF,
  .QdB2YtfEq0ks5O4QbtwX.poe3QmyrczMfT4aZNIok {
    margin-right: calc(var(--panel-gap) * -1) !important;
  }

  #rs-hover-target {
    z-index: var(--hover-target-z-index, 4);
    position: fixed;
    right: 0;
    top: var(--x-hover-target-top);
    height: var(--x-hover-target-height);
    width: var(--rs-hover-width, 40px);
    background: none;
  }

  .Root__right-sidebar {
    height: var(--main-view-display-height);
    position: fixed;
    right: -100%;
    top: var(--x-hover-target-top);
    transition: right 0.3s ease-in-out;

    #Desktop_PanelContainer_Id {
      backdrop-filter: blur(32px);
    }

    .LayoutResizer__resize-bar:after {
      width: 4px;
    }

    .j9Ey7DzF10wbxpBIVtcb /* Header text animation */ {
      transform: translateX(0) !important;
    }

    button:has(
        path[d="M10.03 10.53a.75.75 0 1 1-1.06-1.06L10.44 8 8.97 6.53a.75.75 0 0 1 1.06-1.06l2 2a.75.75 0 0 1 0 1.06l-2 2Z"]
      ) {
      display: none;
    }
  }

  .Root__right-sidebar.show {
    right: var(--panel-gap);
  }
}

/* ========== Floating Library ========== */
.library-auto-hide {
  .Root__main-view {
    grid-column-start: left-sidebar !important;
  }

  .QdB2YtfEq0ks5O4QbtwX.FWlHsHhD0hSw1ldIXnOF,
  .QdB2YtfEq0ks5O4QbtwX.poe3QmyrczMfT4aZNIok {
    margin-left: calc(var(--panel-gap) * -1) !important;
  }

  #lib-hover-target {
    z-index: var(--hover-target-z-index, 4);
    position: fixed;
    left: 0;
    top: var(--x-hover-target-top);
    width: var(--lib-target-width, 40px);
    height: var(--x-hover-target-height);
    background: none;
  }

  .Root__nav-bar {
    position: fixed;
    left: -100%;
    top: var(--x-hover-target-top);
    height: var(--main-view-display-height);
    backdrop-filter: blur(32px);
    transition: left 0.3s ease-in-out;

    .LayoutResizer__resize-bar:after {
      width: 4px;
    }
  }

  .Root__nav-bar.show {
    left: var(--panel-gap);
  }

  .main-yourLibraryX-button:has(
      path[d="M6.53 9.47a.75.75 0 0 1 0 1.06l-2.72 2.72h1.018a.75.75 0 0 1 0 1.5H1.25v-3.579a.75.75 0 0 1 1.5 0v1.018l2.72-2.72a.75.75 0 0 1 1.06 0zm2.94-2.94a.75.75 0 0 1 0-1.06l2.72-2.72h-1.018a.75.75 0 1 1 0-1.5h3.578v3.579a.75.75 0 0 1-1.5 0V3.81l-2.72 2.72a.75.75 0 0 1-1.06 0z"]
    ) {
    display: none;
  }
}

/* ========== Global Nav Floating ========== */

.global-nav-auto-hide.main-view-container__scroll-node-child {
  padding-top: var(--global-nav-height);
}
.global-nav-floating {
  .Root__main-view header,
  .main-topBar-container,
  .main-home-filterChipsContainer {
    top: 0;
    border-radius: 0;
  }

  .Root__globalNav {
    --gap: calc(var(--panel-gap) + 8px);
    position: fixed;
    top: var(--gap, 16px);
    left: var(--gap, 16px);
    max-height: 64px;
    border: var(--default-border);
    border-radius: var(--l-br);
    width: calc(100vw - (var(--gap, 16px)));
    transition: top 0.3s ease-in-out;
    z-index: var(--above-main-z-index, 5);
    backdrop-filter: var(--header-filters);
    background-color: var(--background-highlight) !important;
  }
}

.global-nav-not-auto-hide,
.global-nav--hovering {
  .Root__main-view header,
  .main-topBar-container,
  .main-home-filterChipsContainer {
    top: calc(var(--global-nav-height) - var(--panel-gap) - 1px);
    border-radius: 0;
  }

  .main-topBar-background {
    border-radius: 0 !important;
  }

  .main-navBar-mainNav {
    transition: padding 0.3s ease-in-out;
  }

  &:not(.library-auto-hide) {
    .main-navBar-mainNav {
      padding-top: calc(var(--global-nav-height) - var(--panel-gap));
    }
  }
}

.global-nav-floating {
  .Root__main-view {
    grid-row-start: global-nav;
  }
}
.global-nav-auto-hide {
  z-index: var(--above-main-z-index, 5);
  .Root__right-sidebar,
  #Desktop_LeftSidebar_Id {
    grid-row-start: global-nav;
  }

  .QdB2YtfEq0ks5O4QbtwX /* now playing card in root */ {
    grid-row-start: global-nav;
  }

  .QdB2YtfEq0ks5O4QbtwX.FWlHsHhD0hSw1ldIXnOF,
  .QdB2YtfEq0ks5O4QbtwX.poe3QmyrczMfT4aZNIok {
    margin-top: calc(var(--panel-gap) * -1) !important;
  }

  #global-nav-hover-target {
    z-index: var(--hover-target-z-index, 4);
    position: fixed;
    left: 0;
    top: 0;
    height: var(--global-nav-hover-height, 32px);
    width: 100%;
    background: none;
  }

  .Root__globalNav {
    display: flex !important;
    top: -100%;
  }

  .Root__globalNav.show {
    top: var(--gap, 16px);
  }
}

.spotify-version-at-least-1-2-65 {
  .global-nav-floating {
    .Root__main-view {
      grid-row-start: top-banner !important;
    }
  }
  .global-nav-auto-hide {
    z-index: var(--above-main-z-index, 5);
    .Root__right-sidebar,
    #Desktop_LeftSidebar_Id {
      grid-row-start: top-banner !important;
    }

    .QdB2YtfEq0ks5O4QbtwX /* now playing card in root */ {
      grid-row-start: top-banner !important;
    }
  }
}
/* ========== Compact Right Sidebar ========== */
.npv-compact {
  --npv-size: var(--rs-compact-size, 400px);
  .Root__main-view {
    grid-row-end: now-playing-bar !important;
  }

  .Root__right-sidebar {
    position: fixed;
    z-index: 9;
    -webkit-backdrop-filter: var(--rs-compact-blur, blur(var(--npv-blur, 16px)));
    backdrop-filter: var(--rs-compact-blur, blur(var(--npv-blur, 16px)));
    transition: var(--default-transition);
    transform-origin: bottom right;
    box-shadow: 0 0 4rem 2px var(--clr-shadow);
  }

  &.npv-right .Root__right-sidebar {
    right: var(--panel-gap);
  }

  &.npv-left .Root__right-sidebar {
    left: var(--panel-gap);
  }

  &.npv-top .Root__right-sidebar {
    top: calc(var(--umv-offset, 124px) - var(--player-height, 5rem) - 4px);
  }
  &.npv-bottom.player-auto-hide .Root__right-sidebar {
    bottom: var(--panel-gap);
  }

  &.npv-bottom.player--hovering .Root__right-sidebar,
  &.npv-bottom .Root__right-sidebar {
    bottom: calc(1.25rem + var(--player-height, 5rem));
  }

  .Root__right-sidebar:has(#Desktop_PanelContainer_Id),
  .NowPlayingView,
  #Desktop_PanelContainer_Id,
  .ffFwfKcPDbmAPLXzxzKq,
  .main-nowPlayingView-coverArtContainer,
  .AAdBM1nhG73supMfnYX7 {
    aspect-ratio: 1 / 1;
    width: var(--npv-size, 420px) !important;
    height: var(--npv-size, 420px) !important;
    min-width: var(--npv-size, 420px) !important;
    min-height: var(--npv-size, 420px) !important;
    border-radius: 0.75rem;
  }

  .Root__right-sidebar:has(video) {
    --height: calc(var(--npv-size, 420px) * 16 / 9);

    .NowPlayingView,
    #Desktop_PanelContainer_Id,
    .ffFwfKcPDbmAPLXzxzKq,
    .main-nowPlayingView-coverArtContainer,
    .AAdBM1nhG73supMfnYX7 {
      --height: calc(var(--npv-size, 420px) * 16 / 9);
    }
  }

  .nw2W4ZMdICuBo08Tzxg9,
  div[data-testid="NPV_Panel_OpenDiv"] {
    padding-bottom: 1rem !important;
  }

  .os-scrollbar-horizontal {
    display: none;
  }

  .ylBRlfNqGnzVa4kjUQGP {
    padding-left: 0;
    padding-right: 0;
  }

  .fNXmHtlrj4UVWmhQrJ_5,
  .W3E0IT3_STcazjTeyOJa {
    display: none;
    visibility: hidden;
  }

  .LayoutResizer__resize-bar {
    width: 2rem;
    height: 2rem;
    top: -0.25rem;
    left: -0.25rem;
    z-index: -1;
  }

  .LayoutResizer__resize-bar:hover {
    opacity: 1;
  }

  div[data-overlayscrollbars-initialize],
  div[data-overlayscrollbars-viewport~="scrollbarHidden"] {
    padding: 0 !important;
  }

  .os-scrollbar-track {
    padding: 4px !important;
  }

  .LayoutResizer__inline-end:after,
  .LayoutResizer__inline-start:after {
    background-color: rgba(32, 32, 32, 0.75);
    border-radius: 8px;
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
  }
}

/* ========== Page Cover Art ========== */
.page-cover-hidden,
.page-cover-as-bg {
  .Root__main-view .main-entityHeader-title h1 {
    font-size: 3rem !important;
  }
}

.page-cover-hidden {
  .main-entityHeader-imageContainer,
  .main-entityHeader-imageContainerNew {
    display: none;
    visibility: hidden;
  }
}
.page-cover-as-bg {
  .main-entityHeader-container {
    --fluid-height: 50vh !important;
  }
  .main-entityHeader-imageContainer,
  .main-entityHeader-imageContainerNew {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: none !important;

    .main-entityHeader-image {
      filter: blur(var(--image-as-bg-blur, 0.5rem)) brightness(var(--image-as-bg-brightness, 0.8))
        saturate(var(--image-as-bg-saturate, 0.8));
      transform: scale(1.25);
      opacity: 0.75;
    }
    .main-editImageButton-overlay {
      visibility: hidden;
      opacity: 0;
    }
  }
}

/* ========== New Home Styles ========== */
.new-home:not(.flexy-home) .cZrkCxXnCc7KLZqAqWoz
  .main-home-content
  > [data-shelf-collapsable]
  + [data-shelf]:nth-child(2),
.new-home:not(.flexy-home)
  .cZrkCxXnCc7KLZqAqWoz
  .main-home-content
  > [data-shelf-collapsable]
  + [data-shelf]:nth-child(3),
.new-home:not(.flexy-home) .n0QcG3Q6btnzW2gudKqI {
  min-width: 100% !important;
}

.new-home[is-at-root] {
  &.flexy-home {
    .view-homeShortcutsGrid-shortcuts {
      min-width: 100% !important;
    }

    .main-home-content {
      --section-gap: 0.5rem;

      display: flex;
      flex-wrap: wrap;
      gap: var(--section-gap);
    }

    .main-home-content section {
      flex-grow: 1;
      min-width: 12rem;
    }

    .main-home-content section:nth-child(4n + 1) {
      flex-basis: 100%;
      min-width: 100%;
    }

    .main-home-content section:nth-child(4n + 2) {
      flex-basis: calc(40% - var(--section-gap) / 2);
      min-width: calc(40% - var(--section-gap) / 2);
    }

    .main-home-content section:nth-child(4n + 3) {
      flex-basis: calc(60% - var(--section-gap) / 2);
      min-width: calc(60% - var(--section-gap) / 2);
    }

    .main-home-content section:nth-child(4n + 4) {
      flex-basis: calc(40% - var(--section-gap) / 2);
      min-width: calc(40% - var(--section-gap) / 2);
    }

    .main-home-content section:has(div[class="c9BGAQRNNsdwX3UTMr6I"]),
    .main-home-content section:has(div[class*="Promotion"]) {
      min-width: 100% !important;
      flex-basis: 100% !important;
    }

    .SsbbQFeJun2Ts_EIktpr {
      min-width: 100%;
    }
  }

  .JYoTSXH6KEr_MIwisdZi,
  .e9iXRrRXf6MAlkmd8J0s {
    margin-inline: 0;
    max-height: 100%;
    box-sizing: border-box !important;
  }

  .Root__main-view {
    .main-home-content section {
      padding: 0.5rem;
      border-radius: 0.5rem;
      gap: 0.5rem;
      background-color: rgba(var(--clr-surface-1-rgb), 0.5);
      border: var(--default-border);
    }

    .LVMjmN2CaPruPAo62RAY.HXlt7CQ7uXgHZ9UKA4tS {
      padding-inline: 1.5rem;
    }

    .MKCgGhu_c8l6hsVuee46 .main-shelf-shelfGrid {
      margin-inline: -8px;
    }

    .view-homeShortcutsGrid-shortcuts {
      margin-bottom: 0;
    }

    .main-home-content.contentSpacing {
      padding: 0 1rem;
      gap: 0.5rem;
    }

    .a2NTH51fJWzWsds0OYv_ {
      margin-inline: 0;
    }

    & > div:nth-child(2) {
      margin-top: 0.5rem;
    }

    ._WZEvLWCKIvdsvaCs6x5 {
      margin-bottom: 0 !important;
    }

    .encore-text-title-small {
      font-size: 1.125rem;
      transition: font-size 0.3s ease-in-out;
    }

    .HeaderArea {
      height: fit-content;
      padding: 0 0.5rem;
    }

    .Box-group-naked-listRow-minBlockSize_56px {
      min-height: fit-content;
      margin-bottom: 0.75rem;
    }

    .search-recentSearches-seeAll {
      border-radius: 0.5rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.25rem 0.75rem;
      text-decoration: none !important;
      background-color: rgba(var(--clr-surface-1-rgb), 0.5);
      transition: background-color 0.3s ease-in-out;
      margin: 0;

      &:hover {
        background-color: rgba(var(--clr-surface-3-rgb), 0.5);
      }
    }

    .main-shelf-shelfGrid.deJGxfMNXUc8uApEGgoQ {
      grid-auto-rows: auto !important;
    }

    ._WZEvLWCKIvdsvaCs6x5 > div > div:first-child,
    ._WZEvLWCKIvdsvaCs6x5 > div > div:last-child {
      justify-content: center;
      height: fit-content;
    }

    .qI009QzTkvisAXqhbw74 {
      padding-inline: 0.25rem;
    }

    .lx4nfGbsUkI_2pC6caw9,
    .xrnpBm515hmJJbcxfudp {
      gap: 0px;
    }

    header.xrnpBm515hmJJbcxfudp {
      height: 0px;
    }

    .lx4nfGbsUkI_2pC6caw9 {
      padding: 0.5rem;
    }
  }
}

/* ========== Page Styles ========== */
.page-compact-card .main-entityHeader-container,
.page-card .main-entityHeader-container {
  position: relative;
  min-height: 10rem;
  height: min(32vh, var(--fluid-height));

  .contentSpacing {
    width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    height: fit-content;
    left: 50%;
    bottom: 1rem;
    transform: translate3d(-50%, 0px, 0px);
    position: absolute;
    padding: 1rem;
    border-radius: 0.5rem;
    container-type: inline-size;
    border: var(--default-border);
    transition: var(--default-transition);
    background-color: rgba(var(--clr-surface-1-rgb), 0.5);
    -webkit-backdrop-filter: blur(var(--page-blur, 12px)) saturate(var(--page-saturate, 1.5));
    backdrop-filter: blur(var(--page-blur, 12px)) saturate(var(--page-saturate, 1.5));

    &:hover {
      border: var(--hover-border);
    }
  }

  .eFZahdafW8vQ7xY1kfBg {
    height: fit-content;
  }
}
.page-card {
  .main-entityHeader-container {
    --min-fluid-height: clamp(250px, 200px + (var(--main-view-width) - 600px) / 424 * 90, 40vh);
  }
}
.page-card .main-entityHeader-container .encore-text-headline-large {
  font-size: clamp(2cqmax, var(--main-view-width) / 20, 5cqmax) !important;
}
.page-compact-card {
  div.eFZahdafW8vQ7xY1kfBg {
    height: fit-content;
  }
  .main-entityHeader-container .contentSpacing {
    min-width: calc(var(--main-view-width) / 2);
    width: calc(var(--main-view-width) / 1.5);
  }
  .main-entityHeader-imageContainer,
  .main-entityHeader-imageContainerNew {
    height: 8rem;
    width: 8rem;
  }
  *.encore-text-headline-large {
    font-size: 2cqmax !important;
  }
}

.page-compact {
  .main-entityHeader-container {
    min-height: 20vh;
    height: 20vh;
  }
  .main-entityHeader-container .encore-text-headline-large {
    font-size: clamp(2.5cqmax, var(--main-view-width) / 50, 3cqmax) !important;
  }
  .main-entityHeader-imageContainer {
    --img-size: clamp(80px, 80px + (var(--main-view-width) - 600px) / 424 * 104, 140px);
    height: var(--img-size);
    width: var(--img-size);
  }
}

/* ========== background ========== */
.lucid-bg {
  display: block;

  .bg-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    inset: 0;
  }

  .bg {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;

    /* &.solid {} */
    /* &.animated {} */
  }

  .static {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

/* Fade animation */
.fade-in {
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

/* ========== Under Main View ==========  */
.before-scroll-node,
.under-main-view /* Default one */ {
  display: none;
}

.umv {
  --umv-height: calc(var(--main-view-height, 95vh) / 1.75);
  --umv-bg: none;
  --umv-opacity: 1;

  position: absolute;
  inset: 0;
  width: 100%;
  height: var(--umv-height);

  opacity: var(--umv-opacity);
  background-image: var(--umv-bg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  will-change: transform, filter;
  transition: all 0s linear;

  mask-image: linear-gradient(rgb(0, 0, 0) calc(var(--umv-height) / 2), rgba(0, 0, 0, 0) 100%);
  transform-origin: center center;

  &.color {
    background-color: var(--umv-bg-color);
  }

  &.desktop {
    --umv-height: calc(var(--main-view-height, 95vh) * 1.125);
    mask-image: linear-gradient(rgb(0, 0, 0) calc(var(--umv-height) / 1.125), rgba(0, 0, 0, 0) 100%);
  }

  &.fade-in {
    transition: opacity 0.5s ease-in;
  }
}

/* ========== Settings - Modal ==========  */
.GenericModal__overlay.floating {
  height: 0;
  width: 0;
  pointer-events: none;
}
.GenericModal.floating {
  position: fixed;
  pointer-events: all;
  .main-embedWidgetGenerator-container {
    max-width: 32rem;
    max-height: 60vh;
  }
}

/* ========== Settings ==========  */
.x-settings-row,
.l4pZe9TZNs0_CkdbbHql,
/* zoom settings container */
  .x-proxySettings-ProxySettings {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px 24px;
  padding: 8px 12px;
  border: var(--default-border);
  border-radius: var(--m-br);
  background-color: var(--background-base);
  transition: var(--default-transition);

  &:hover {
    background-color: var(--background-highlight);
    border: var(--hover-border);
  }
}

.l4pZe9TZNs0_CkdbbHql /* zoom settings container */ {
  min-width: 100%;
  padding: 2% 6%;
  display: flex;
}

.bY4mttCZiFb6AXdiyTWl /* x-settings radio btn */ {
  background-color: transparent;
}

.x-proxySettings-ProxySettings {
  display: block;
  width: 100%;

  div button {
    width: 100%;
  }
}

.x-settings-firstColumn,
.x-settings-secondColumn {
  display: flex;
  position: relative;
}

.x-settings-firstColumn {
  padding-left: 4px;
  justify-content: flex-start;
}

.x-settings-secondColumn {
  justify-content: flex-end;
}

.x-settings-section {
  display: grid;
  gap: 4px;
  padding: 8px;
  margin: 4px 0;
  border: var(--default-border);
  border-radius: var(--m-br);
  background-color: var(--background-base);

  h2 {
    margin-left: 8px;
  }
}

.x-settings-equalizerSection {
  margin: -8px -16px;
  background-color: transparent;
}

.x-toggle-wrapper {
  height: 32px;
  width: 56px;
  cursor: pointer;
}

.x-toggle-indicatorWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--default-border);
}

.x-toggle-indicator {
  display: block;
  position: relative;
  height: 26px;
  width: 26px;
  inset: 0 !important;
  transform: scale(0.8);
  transform-origin: center center;
  margin-inline-end: 24px;
  transition: margin 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* transform 100ms cubic-bezier(0.2, 0, 0, 1); */
}

input:active:not([disabled]) ~ .x-toggle-indicatorWrapper .x-toggle-indicator,
input:active ~ .x-toggle-indicatorWrapper .x-toggle-indicator {
  width: 24px;
  height: 24px;
  transform: scale(1);
}

input:checked ~ .x-toggle-indicatorWrapper .x-toggle-indicator {
  transform: scale(1);
  margin-inline-start: 24px;
  margin-inline-end: 0;
}

.x-toggle-input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.x-settings-tooltip {
  cursor: help !important;
  background-color: transparent;
  color: var(--clr-on-surface);

  .x-settings-tooltipIconWrapper {
    padding: 0px 8px 0px 8px !important;
  }
}

._czgnX6y44Or6X9pI6gc {
  gap: 0;
  margin: 0;
}

.floating .main-trackCreditsModal-header {
  cursor: move;
}

.lucid-settings {
  .encore-text {
    height: fit-content;
  }

  .x-settings-firstColumn {
    align-items: center;
  }

  .x-settings-section h2 {
    font-size: 0.875rem !important;
  }

  .x-settings-row:has(textarea) {
    grid-template-rows: 2rem 2fr;
    grid-template-columns: auto;
  }

  .loader-wrapper,
  .section-card,
  .section-header {
    width: 100%;
    text-align: center;
    padding: 8px;
    margin: 4px 0;
    border: var(--default-border);
    border-radius: var(--m-br);
    background-color: var(--background-base);
  }

  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section {
    margin-top: 16px;
  }

  h3 {
    font-size: 0.875rem !important;
    padding-left: 8px;
    font-weight: 600;
  }
}

/* Carousel */
.carousel-wrapper {
  position: relative;
  margin-bottom: 8px;

  button.lucid-button.hide {
    pointer-events: none;
    opacity: 0;
    display: flex !important;
  }

  .lucid-button.icon-no-border {
    height: 32px;
    width: 32px;
    pointer-events: all;
    opacity: 1;
  }

  .search-searchCategory-contentArea {
    min-height: 2.25rem;
    overflow: hidden;
    position: relative;
    height: fit-content;
  }

  .search-searchCategory-categoryGrid {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    width: 100%;
    overscroll-behavior-x: contain;
    will-change: transform;
  }

  .search-searchCategory-carousel {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .search-searchCategory-categoryGrid {
    gap: 4px;
  }
}

.floating .lucid-input-wrapper,
.floating .lucid-input {
  max-width: 20vw;

  &.textarea {
    max-width: none;
  }
}

.floating .search-wrapper {
  .lucid-input-wrapper {
    max-width: 100%;
  }
}

.rcp-field-input,
div.lucid-input-wrapper {
  border: var(--default-border);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  height: 2.5rem;
  transition: var(--default-transition);
  background-color: rgba(var(--clr-surface-1-rgb), 0.5);
  color: var(--clr-on-surface);
  border-radius: var(--m-br);
  font-family: var(--encore-body-font-stack);

  &:hover {
    cursor: pointer;
    border: var(--hover-border);
    background-color: rgba(var(--clr-surface-4-rgb), 0.5);
    border-radius: var(--xl-br);
  }

  &.number {
    padding: 4px;
  }
}

textarea.lucid-input,
input.lucid-input {
  height: 100%;
  width: 100%;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;

  &[type="number"] {
    width: 3rem;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.lucid-input-wrapper.textarea {
  width: 100%;
  height: 25vh;

  &:hover {
    border-radius: var(--l-br);
  }
}

.btn-wrapper,
.btn-wrapper div {
  display: flex;
  gap: 8px;
}

.dropdown-button,
.e-9890-button--small,
.x-settings-button,
.lucid-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: var(--default-border);
  border-radius: var(--br);
  padding: 8px 12px;
  transition: var(--default-transition);
  background-color: rgba(var(--clr-surface-1-rgb), 0.5);
  color: var(--clr-on-surface);
  font-family: var(--encore-body-font-stack);

  &:hover,
  &:active {
    cursor: pointer;
    border: var(--hover-border);
    background-color: rgba(var(--clr-surface-4-rgb), 0.5);
  }

  &:hover {
    border-radius: var(--xl-br);
  }
}

.dropdown-button {
  height: 2.5rem;
}

.lucid-button {
  &.icon,
  &.icon-no-border {
    min-height: 2rem;
    min-width: 2rem;
    padding: 8px;

    &:hover {
      border: var(--hover-border);
      border-radius: var(--xl-br);
      background-color: rgba(var(--clr-on-surface-rgb), 0.1);
    }
  }

  &.icon-no-border {
    border: none;
    background-color: transparent;

    &:hover {
      border: none;
    }
  }
}

.notification-container {
  position: fixed;
  top: 4rem;
  right: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 9999;
}

.notification {
  animation: slide-in-right 0.3s ease forwards;
  padding: 12px 16px;
  border-radius: var(--m-br);
  border: var(--default-border);
  z-index: 9999;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--background-elevated-base);
  color: var(--clr-on-surface);
  backdrop-filter: blur(24px);
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.fade-out {
    animation: slide-out-right 0.3s ease forwards;
  }

  &.error {
    background-color: rgba(var(--clr-error-container-rgb), 0.7);
    color: var(--clr-on-error-container);
  }

  .notification-close {
    opacity: 0;
    visibility: hidden;
    margin-left: 8px;
    transition: var(--default-transition);
  }

  &:hover .notification-close {
    opacity: 1;
    visibility: visible;
  }
}

.rcp-portal {
  position: fixed;
  z-index: 110;
  max-width: 30rem;
  overflow: hidden;
}

.rcp-portal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  padding: 8px 16px;
}

.rcp-current-color {
  width: 100%;
  height: 32px;
  background-color: var(--current-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rcp-root {
  --rcp-background-color: transparent;
  --rcp-field-label-color: var(--clr-on-surface-variant);
}

.rcp {
  display: flex;
  flex-direction: column;
  background-color: var(--rcp-background-color);
  border-radius: 8px;
}

.rcp-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 8px;
}

.rcp-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rcp-interactive {
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: none;
}

.rcp-interactive[aria-disabled="true"] {
  cursor: unset;
  pointer-events: none;
}

.rcp-saturation {
  cursor: all-scroll;
  width: 100%;
  position: relative;
  background-image:
    linear-gradient(to bottom, transparent, black), linear-gradient(to right, white, transparent);
  border-radius: 8px 8px 0 0;
}

.rcp-saturation-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 0 15px #00000026;
  transform: translate(-8px, -8px);
}

.rcp-alpha,
.rcp-hue {
  cursor: ew-resize;
  position: relative;
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(to right, red, #ff0, #0f0, #0ff, #00f, #f0f, red);
  border-radius: 8px;
}

.rcp-alpha-cursor,
.rcp-hue-cursor {
  position: absolute;
  width: 1rem;
  height: 2.5rem;
  border: var(--default-border);
  border-radius: var(--br);
  box-shadow: 0 0 15px rgba(var(--clr-shadow-rgb), 0.15);
  transform: translate(-8px, -0.25rem);
  border-width: 2px !important;

  &:hover {
    border: var(--hover-border);
  }
}

.rcp-fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rcp-fields-floor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 8px;
}

.rcp-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rcp-field-input {
  text-align: center;
}

.rcp-field-input:read-only {
  opacity: 0.8;
}

.rcp-field-label {
  font-size: 14px;
  text-align: center;
  color: var(--rcp-field-label-color);
}

/* list */
.list-container {
  display: flex;
  flex-direction: column;
  height: 20rem;
  min-width: 10rem;
  gap: 4px;
  padding: 8px;
}

.list-wrapper {
  flex: 1;
  border: var(--default-border);
  border-radius: var(--m-br);
  background-color: rgba(var(--clr-secondary-rgb), 0.05);
}

.list-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.list-header .lucid-input-wrapper {
  flex: 1;
}

/* Font Picker */
.font-item {
  display: grid;
  grid-template-columns: 32px 1fr;
  padding-left: 8px;
  height: 100%;
  cursor: pointer;
  border-radius: var(--br);
  color: var(--clr-on-surface);
  transition: background-color 0.2s ease;
  background-color: transparent;

  &:hover,
  &.selected {
    background-color: rgba(var(--clr-on-surface-rgb), 0.1);
  }

  &.selected:hover {
    background-color: rgba(var(--clr-on-surface-rgb), 0.05);
  }
}

.font-item-firstColumn {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-item-secondColumn {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding-left: 8px;
}

.font-family {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.font-preview {
  font-size: 13px;
  color: var(--text-subdued);
  transition: opacity 0.3s ease;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Marquee */
.marquee-container {
  display: flex;
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    var(--clr-shadow) 6px,
    var(--clr-shadow) calc(100% - 6px),
    transparent
  );
  margin-inline-start: -8px;
}
.marquee-wrapper {
  margin-inline: 6px;
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  transform: translateZ(0px);
}
