// Common styles

.album,
.playlist,
.artist,
.profile {
  .main-trackList-trackListHeader {
    margin-bottom: 0;

    &.main-trackList-trackListHeaderStuck {
      background-color: $top-bar-bg-color;
      -webkit-backdrop-filter: blur($top-bar-backdrop-blur);
      backdrop-filter: blur($top-bar-backdrop-blur);
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  .main-trackList-trackList {
    @include default-border-with-radius;
    .main-trackList-trackListRow {
      padding-left: 1.5rem;

      .main-trackList-number {
        right: 0;
      }
    }
  }
}

.main-trackList-trackListRow.main-trackList-active .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-active .main-trackList-rowMarker {
  text-shadow: 0px 0px 6px var(--spice-accent);
}

.artist-artistDiscography-topBar {
  &.artist-artistDiscography-topBarScrolled {
    @include header-backdrop-blur;
    background-color: rgba(var(--spice-rgb-card), 0.5);
  }
}

.artist-artistDiscography-topBar.artist-artistDiscography-topBarScrolled,
.artist-artistDiscography-headerContainer {
  background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.under-main-view-present {
  .main-entityHeader-container.main-entityHeader-withBackgroundImage {
    height: $under-main-view-height;
    border-bottom: $default-border;
  }

  .Root__main-view {
    .main-view-container {
      #lucid-under-main-view {
        .playlist-art-container {
          height: var(--main-view-height, 800px);
          mask: none;

          .overlay {
            background: -webkit-gradient(
              linear,
              left top,
              left bottom,
              from(transparent),
              to(rgba(var(--spice-rgb-shadow), 0.75))
            );
            background: linear-gradient(
              transparent 40%,
              rgba(var(--spice-rgb-shadow), 1) 100%
            );
          }
        }
      }
    }
  }
}

.main-gridContainer-gridContainer {
  max-width: 100%;
}

.main-card-imageContainer,
.main-card-PlayButtonContainer,
.view-homeShortcutsGrid-shortcut {
  border-radius: $border-radius-md;
  overflow: hidden;
}

// marketplace page
.marketplace-header {
  @include header-backdrop-blur;
  background-color: $top-bar-bg-color;
  margin: 0 calc(var(--content-spacing) * -1 - -2px) 0
    calc(var(--content-spacing) * -1 - -2px);
  padding: $padding-sm calc(var(--content-spacing) * 2);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.global-nav {
  .marketplace-footer,
  .marketplace-card-type-heading {
    margin-top: 5rem;
  }
}

// styles for libX
.Root__globalNav.global-libraryX {
  background-color: rgba(var(--spice-rgb-main), 0.5);

  .global-nav-button,
  .Dp3xccI7c2f_JSJ8OHYu,
  .global-nav-icon,
  .main-globalNav-link-icon {
    border: none;
    box-shadow: none;
    @include bg-none;
  }
}
