.Root__main-view {
  /* Search card */
  .main-gridContainer-gridContainer {
    .IGCDq9qa08JVVY3mcy7Y {
      padding: $padding-sm;
    }

    .Vn9yz8P5MjIvDT8c0U6w {
      @include default-border-with-radius;

      &::before {
        content: "";
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        opacity: 1;
        background: linear-gradient(120deg, transparent, var(--spice-main));
      }

      .WDC2Yzs811n7JCYtYQzc {
        transform: scale(1) rotate(25deg) translate(18%, -2%);
        transition: transform 0.3s linear;
      }

      &:hover .WDC2Yzs811n7JCYtYQzc {
        transform: scale(1.06) rotate(15deg) translate(15%, 0%);
      }
    }
  }

  .search-searchCategory-SearchCategory {
    @include header-backdrop-blur;
  }

  .mXNT9H2GU7lDW4cGx0q1 {
    background-color: rgba(var(--spice-rgb-selected-row), 0.05);
    @include default-border;

    &:hover {
      background-color: rgba(var(--spice-rgb-selected-row), 0.1);
    }
  }

  .main-shelf-shelfGrid,
  .UypXfD8vtkwoy6Hvjxh6 {
    margin-inline: -$padding-sm;
    margin-top: 0;
  }
}

.search {
  .Root__main-view {
    .main-rootlist-wrapper {
      @include default-border-with-radius;
    }
  }
}
